<div class="infoBar">
  <div class="ui container">
    <div class="ui grid">
      <div class="fifteen wide column right aligned hideMobile">
        <!-- <div class="ui button basic blue icon downloadPDF halfWidth"><i class="file pdf icon"></i></div> -->
      </div>
      <!-- <div class="thirteen wide column right aligned visibleMobile">
        
      </div> -->
      <div class="one wide column right aligned saveButtons hideMobile" *ngIf="!isEditEvents">
        <button [disabled]="eventService.isDeleted" (click)="edit()" class="ui button">Edit</button>
      </div>
      <div class="one wide column right aligned saveButtons hideMobile" *ngIf="isEditEvents">
        <button (click)="eventService.triggerSaveOnly.next()" class="ui button">Save</button>
      </div>
      <div class="sixteen wide column right aligned saveButtons visibleMobile">
        <!-- <div class="ui button basic blue icon downloadPDF halfWidth"><i class="file pdf icon"></i></div> -->
        <button *ngIf="!isEditEvents" [disabled]="eventService.isDeleted" (click)="edit()" class="ui button">Edit</button>
        <a *ngIf="isEditEvents" (click)="eventService.triggerSaveOnly.next()" class="ui button icon ml-2"><i class="save icon"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="sixteen wide column saveButtons paddingT0">
  <div class="ui divider"></div>
  <div class="ui grid stackable">
    <div class="sixteen wide column right aligned">
      <div class="ui button basic blue icon downloadPDF halfWidth"><i class="file pdf icon"></i></div>
      <div class="ui button triggerEditableOptions halfWidth ml-3">
        Edit
      </div>
      <div class="ui button hasModal ml-3" data-modal="inviteModal">Save
      </div>
    </div>
  </div>
</div> -->