<div class="ui grid center aligned" *ngIf="!selectedCompany">
  <div class="sixteen wide column">
    <div class="ui button basic blue fluid addClient hasModal"
         (click)="openVerticallyCentered(content)">
      <i class="plus circle icon"></i>Add Client
    </div>
  </div>
</div>
<div class="contactsContainer">
  <div class="ui dividing header">
    <h3>Client Contacts <i class="globe icon"></i></h3>
  </div>
  <div class="kipCardContainer"></div>
  <div class="ui grid center aligned">
    <div class="sixteen wide column">
      <div class="ui basic button blue fluid addContacts hasModal"
           [ngClass]="{disabled: !selectedCompany}"
           data-modal="contacts">
        <i class="plus circle icon"></i>Add Contact
      </div>
    </div>
  </div>
</div>
