<div class="ui middle aligned center aligned grid minheight100vh">
  <div class="column minContainer">
    <h2 class="segmentTitle">
      Reset Your Password
    </h2>
    <form class="ui form" [formGroup]="resetPasswordForm">
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" placeholder="Add new password" formControlName="password">
        </div>
        <span
          *ngIf="resetPasswordForm.get('password')?.touched
          && (
          resetPasswordForm!.get('password')?.errors?.required ||
          resetPasswordForm!.get('password')?.hasError('maxlength') ||
          resetPasswordForm!.get('password')?.hasError('minlength')
          )"
          class="text-danger"
        >Password of length 6 to 12 characters is required</span>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" placeholder="Repeat new password" formControlName="repeatPassword">
        </div>
        <span
          *ngIf="resetPasswordForm.get('password')?.dirty
          && (
          resetPasswordForm!.get('repeatPassword')?.errors?.notMatching)"
          class="text-danger"
        >Password does not match</span>
      </div>
      <div class="field" (click)=" checkValidation() && resetPassword($event)" >
        <a [ngClass]="!sendingRequest?'ui fluid button':'ui fluid button loading disabled'">Save</a>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>


</div>
