<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column maxWidth">
      <app-event-panel-nav [active]="active" [navChange]="onNavChange.bind(this)">
        <ng-container client>
          <app-event-client-function
            [selectedCompany]="clientCompany"
            (removeSelectedCompany)="unsetClientCompany()"
            [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)"
          >
            <ng-container assignFunctionCmp>
              <app-event-assign-function-cmp
                [clientCmpBtnLabel]="'Add Client'"
                [contactListLabel]="'Client Contacts'"
                [selectedCompany]="clientCompany"
                [clientCompanyModal]="searchInviteCmpModal"
                [contactModal]="searchInviteFnCmpCntModal"
                (modalOpen)="setOpenedModalRef($event)"
                (contactRemove)="removeContact($event)"
                [contactList]="clientContactList"
              ></app-event-assign-function-cmp>
            </ng-container>
          </app-event-client-function>
        </ng-container>

        <ng-container eventManager>
          <app-event-manager-function
            [selectedCompany]="eventMgrCmp"
            (removeSelectedCompany)="unsetEvMgrCmp()"
            [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)"
          >
            <ng-container assignFunctionCmp>
              <app-event-assign-function-cmp
                [clientCmpBtnLabel]="'Add Event Management Company'"
                [contactListLabel]="'Event Management Company Contacts'"
                [selectedCompany]="eventMgrCmp"
                [clientCompanyModal]="searchInviteCmpModal"
                [contactModal]="searchInviteFnCmpCntModal"
                (modalOpen)="setOpenedModalRef($event)"
                (contactRemove)="removeContact($event)"
                [contactList]="eventMgrContactList"
              ></app-event-assign-function-cmp>
            </ng-container>
          </app-event-manager-function>
        </ng-container>

        <ng-container venues>
          <app-event-venue-function #venueFn
            [selectedCompanies]="venueCompanies"
            (removeSelectedCompany)="unsetVenueCmp($event)"
            [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)"
            [searchInviteCmpModal]="searchInviteCmpModal"
            [searchInviteFnCmpCntModal]="searchInviteFnCmpCntModal"
            [setOpenedModalRef]="setOpenedModalRef.bind(this)"
            [removeContact]="removeContact.bind(this)"
          >
            <!--<ng-container assignFunctionCmp>
              <app-event-assign-function-cmp #venueAssignCmp
                [clientCompanyModal]="searchInviteCmpModal"
                [contactModal]="searchInviteFnCmpCntModal"
                (modalOpen)="setOpenedModalRef($event)"
                (contactRemove)="removeContact($event)"
              >
              </app-event-assign-function-cmp>
            </ng-container>-->
          </app-event-venue-function>
        </ng-container>
        <ng-container suppliers>
        <app-event-suppliers-function #suppliersFn
          [eventToBeSaved]="eventToBeSaved"
          (saveAndInvite)="saveToDb($event)"
          [searchInviteCmpModal]="searchInviteCmpModal"
          [searchInviteFnCmpCntModal]="searchInviteFnCmpCntModal"
          [setOpenedModalRef]="setOpenedModalRef.bind(this)"
        >
        </app-event-suppliers-function>
        </ng-container>
        <!--<app-event-exhibitors-function></app-event-exhibitors-function>
        <app-event-files-function></app-event-files-function>
        <app-event-timeline-function></app-event-timeline-function>-->
      </app-event-panel-nav>

      <!--<div [ngbNavOutlet]="eventPanelNav.navRef" class="mt-2"></div>-->
    </div>
  </div>


  <ng-template #searchInviteCmpModal let-modal>
    <app-search-or-invite-function-cmp
      (existingCompanySelected)="setSelectedCompany($event)"
      (newCompanyInvited)="setSelectedCompany($event)"
      (closed)="searchInviteCompanyClosed()">
    </app-search-or-invite-function-cmp>
  </ng-template>

  <ng-template #searchInviteFnCmpCntModal let-modal>
    <app-search-or-invite-fn-cmp-cnt
      (closed)="searchInviteContactModalClosed()"
      [companyId]="getCompanyId()"
      (addedContactList)="setSelectedFnCompanyContacts($event)"
      [alreadyInContactList]="getFnContactList()"
    >
    </app-search-or-invite-fn-cmp-cnt>
  </ng-template>

  <ng-template #contentNew let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upload Files</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content uploadDocuments">
        <form class="ui form">
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="field">
                <p>ADocument.pfd</p>
                <input type="text" placeholder="Display Name">
                <a href="#" class="removeDocument"><i class="trash alternate icon"></i>Remove</a>
              </div>
              <div class="field">
                <p>ADocument.docx</p>
                <input type="text" placeholder="Display Name">
                <a href="#" class="removeDocument"><i class="trash alternate icon"></i>Remove</a>
              </div>
              <div class="field">
                <p>AnImage.jpg</p>
                <input type="text" placeholder="Display Name">
                <a href="#" class="removeDocument"><i class="trash alternate icon"></i>Remove</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="newFooter">
      <div class="actions">
        <div class="ui grid">
          <div class="eight wide column left aligned">
            <div class="ui button positive">Browse and Add</div>
          </div>
          <div class="eight wide column right aligned">
            <div class="ui button positive">Save and Upload</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>
