<div *ngIf="eventData.eventData && eventData.eventData.venues && eventData.eventData.venues.length &&
eventData.eventData.venues[0].exhibitorData && 
eventData.eventData.venues[0].exhibitorData.exhibitors.length>0; else noVenues" class="ui segment">
  <ul ngbNav #venueNav="ngbNav" class="nav-tabs supplierInnerCont"
      [destroyOnHide]="false">
    <li ngbNavItem *ngFor="let venue of eventData.eventData.venues; let venueIndex=index">
      <a ngbNavLink><i class="map marker alternate icon"></i>
        {{venue.venueCompanyName}}, {{venue.companyCity}}</a>
      <ng-template ngbNavContent>

        <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


          <form class="ui form visible"
                style="display: block !important;">
            <div class="ui grid stackable">

              <div class="seven wide column">
                <div class="ui dividing header">
                  <h3>Notes to All Exhibitors <i class="cog icon"></i><i class="sitemap icon"></i><i
                    class="exhibitor icon"></i></h3>
                </div>
                <div class="field">
                  <textarea class="textarea"
                            [(ngModel)]="venue.exhibitorData.exhibitors[0]!.notes"
                            [ngModelOptions]="{standalone:true}"></textarea>
                </div>
              </div>

              <div class="nine wide column">

                <div class="field">
                  <div class="timeWindowsContainer">
                    <div class="ui dividing header">
                      <h3>Exhibition Time windows <i class="cog icon"></i><i class="sitemap icon"></i><i
                        class="exhibitor icon"></i></h3>
                    </div>

                    <app-time-windows
                    [windowLabels]="['Bump In', 'Exhibition', 'Bump Out']"
                    [preEventTimes]="venue.exhibitorData.timeWindowsToAll.preEventTime"
                    [postEventTimes]="venue.exhibitorData.timeWindowsToAll.postEventTime"
                    [eventTimes]="venue.exhibitorData.timeWindowsToAll.eventTime"
                    [preEventTimesCount]="venue?.preEventTime?.length || 1"
                    [eventTimesCount]="venue?.eventTime?.length || 1"
                    [postEventTimesCount]="venue?.postEventTime?.length || 1"
                    [eventView]="true"
                    [preEventNotes]="venue.exhibitorData.timeWindowsToAll.preEventTime?.notes"
                    [eventNotes]="venue.exhibitorData.timeWindowsToAll.eventTime?.notes"
                    [postEventNotes]="venue.exhibitorData.timeWindowsToAll.postEventTime?.notes">
                </app-time-windows>
                  </div>
                </div>

              </div>

            </div>
          </form>
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="marginT10"></div>
              <div class="ui button compact addNewService addToPanel"
                   (click)="addExhibitor(venue, venueIndex)">
                <i class="plus circle icon"></i>
                <span>Add Exhibitor</span>
              </div>
              <h3 id="servicesAnchor" class="ui dividing header">Exhibitors</h3>
              <div class="marginT10"></div>
            </div>
          </div>

          <ngb-accordion
            [closeOthers]="true"
            (panelChange)="panelChange($event)"
            #ngbAccordion
            [activeIds]="'exhibitorListIndex-'+activeExhibitorPanel"
            [destroyOnHide]="false">

            <ng-container>
              <ngb-panel *ngFor="let exhibitor of venue.exhibitorData.exhibitors; let exhibitorIndex=index"
                         [id]="'exhibitorListIndex-'+exhibitorIndex"
                         (shown)="exhibitorPanelActivated(venueIndex,exhibitorIndex)">

                <ng-template ngbPanelTitle>
                  <i class="dropdown icon"></i> 
                  Exhibitor {{exhibitorIndex + 1}}
                  <div class="ui selection dropdown" tabindex="0">
                    <div class="text"><i class="ui icon circle green"></i>Confirmed</div>
                    <div class="menu" tabindex="-1"></div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="content active">
                    <form class="ui form visible"
                          style="display: block !important;">
                      <div class="ui grid stackable">

                        <div class="seven wide column">
                          <div class="companyContainer marginB20">
                            <div class="ui dividing header">
                              <h3>Exhibitor Company
                                <i class="cog icon"></i>
                                <i class="sitemap icon"></i>
                                <i class="building icon"></i>
                              </h3>
                            </div>
                            <div class="kcpCardContainer">
                              <div
                                class="ui one column grid">
                                <div class="column">
                                  <div class="ui fluid card">
                                    <div class="content">
                                      <img class="right floated mini ui image"
                                           [src]="exhibitor.companyProfileImage"
                                           appImageFallback fallbackImage="assets/img/default_konnect_img.png">
                                      <div class="header">
                                        <a>{{exhibitor.exhibitorCompanyName}}</a>
                                      </div>
                                      <div class="meta">
                                        <!-- <a
                                          *ngIf="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))"
                                          [href]="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))"
                                          target="_blank"> {{getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))}}
                                        </a>
                                        <span
                                          *ngIf="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))">|</span> -->
                                        <a>
                                          <i
                                            class="map marker alternate icon"></i>{{exhibitor.companyCity}}
                                        </a>
                                        <span>|</span>
                                        <i
                                          class="phone icon"></i>{{ exhibitor.companyPhone || ''}}
                                      </div>
                                    </div>
                                    <div class="extra content" [ngClass]="{'editableObject':false}">
                                      <div class="ui grid">
                                        <div class="ten wide column">

                                        </div>
                                        <div class="six wide column right aligned">
                                          <div (click)="removeSelectedCompany(venueIndex,exhibitorIndex)"
                                               class="ui circular compact mini basic button confirmRemove hasModal"
                                               data-modal="removeModal"><i class="trash alternate icon"></i>Remove
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <app-event-assign-function-cmp #exhibitorsAssignCmp
                                                         [selectedCompany]="venuesExhCmpsMap.get(venueIndex)?.get(exhibitorIndex)"
                                                         [clientCmpBtnLabel]="'Add Exhibitor'"
                                                         [contactListLabel]="'Exhibitors Contacts'"
                                                         [clientCompanyModal]="searchInviteCmpModal"
                                                         [contactModal]="searchInviteFnCmpCntModal"
                                                         (modalOpen)="setOpenedModalRef($event)"
                                                         [contactList]="exhibitor.contacts?exhibitor.contacts:[]"
                                                         (contactRemove)="removeExhibitorContact(venueIndex,exhibitorIndex,$event)"
                          ></app-event-assign-function-cmp>
                        </div>

                          <div class="nine wide column">
                            <div class="ui dividing header">
                              <h3>Stand Number <i class="cog icon"></i><i class="sitemap icon"></i><i
                                class="building icon"></i></h3>
                            </div>
                            <div class="field">
                              <input
                                type="text"
                                [(ngModel)]="exhibitor.standNumber"
                                [ngModelOptions]="{standalone:true}"
                                placeholder="Stand Number">
                            </div>
                            <div class="ui dividing header">
                              <h3>Notes to Specific Exhibitor <i class="cog icon"></i><i class="sitemap icon"></i><i
                                class="building icon"></i></h3>
                            </div>
                            <div class="field">
                              <textarea
                                class="textarea"
                                [(ngModel)]="exhibitor.requirement"
                                [ngModelOptions]="{standalone:true}"
                              ></textarea>
                            </div>
                            <div class="field">
                              <div class="timeWindowsContainer">
                                <div class="ui dividing header">
                                  <h3>Exhibitor Specific Time windows <i class="cog icon"></i><i
                                    class="sitemap icon"></i><i
                                    class="building icon"></i></h3>
                                </div>

                                <app-time-windows
                                [windowLabels]="['Bump In', 'Event Time', 'Bump Out']"
                                [index]="exhibitorIndex"
                                [preEventTimes]="exhibitor.preEventTime"
                                [postEventTimes]="exhibitor.postEventTime"
                                [eventTimes]="exhibitor.eventTime"
                                [preEventTimesCount]="exhibitor?.preEventTime?.length || 1"
                                [eventTimesCount]="exhibitor?.eventTime?.length || 1"
                                [postEventTimesCount]="exhibitor?.postEventTime?.length || 1"
                                [eventView]="true"
                                [preEventNotes]="exhibitor.preEventTime[exhibitorIndex]?.notes"
                                [eventNotes]="exhibitor.eventTime[exhibitorIndex]?.notes"
                                [postEventNotes]="exhibitor.postEventTime[exhibitorIndex]?.notes">
                            </app-time-windows>

                              </div>
                            </div>

                          </div>
                          <div
                            class="sixteen wide column saveButtons paddingT0">
                            <div class="ui divider"></div>
                            <div class="ui grid stackable">
                              <div
                                class="sixteen wide column right aligned">
                                <div class="ui button hasModal"
                                     data-modal="inviteModal"
                                     (click)="saveAndInvite.emit({venueIndex:venueIndex, exhibitorIndex:exhibitorIndex, shouldInvite:true})"
                                >Save &amp; Invite
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </ngb-panel>
            </ng-container>
          </ngb-accordion>


        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="venueNav" class="mt-2 innerTabCont"></div>
</div>
<ng-template #noVenues>
  <div class="ui segment">
    <h2>Exhibitors are not present for this event</h2>
  </div>
</ng-template>
