<ul ngbNav #nav="ngbNav"  [(activeId)]="active" class="nav-tabs ui pointing secondary menu ui"
    (navChange)="navChange($event)">
  <li [ngbNavItem]="1" [disabled]="active===6">
    <a ngbNavLink class="item tabAdmin"><i class="cog icon"></i><span
      class="hideMobile">CLIENT</span></a>
    <ng-template ngbNavContent>
      <ng-content select="[client]"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" [disabled]="active===6">
    <a ngbNavLink class="item tabAdmin"><i class="sitemap icon"></i><span class="hideMobile">EVENT
                                MANAGER</span></a>
    <ng-template ngbNavContent>
      <ng-content select="[eventManager]"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" [disabled]="active===6">
    <a ngbNavLink class="item tabAdmin"><i class="map marker alternate icon"></i><span
      class="hideMobile">VENUE</span></a>
    <ng-template ngbNavContent>
      <ng-content select="[venues]"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="4" [disabled]="active===6">
    <a ngbNavLink class="item tabAdmin">
      <i class="truck icon"></i>
      <span class="hideMobile">SUPPLIERS</span>
    </a>
    <ng-template ngbNavContent>
      <ng-content select="[suppliers]"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="5" [disabled]="active===6">
    <a ngbNavLink class="item tabAdmin"><i class="exhibitor icon"></i><span
      class="hideMobile">EXHIBITORS</span></a>
    <ng-template ngbNavContent>
    <ng-content select="[exhibitors]"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="6" [disabled]="active!==6">
    <a ngbNavLink class="item tabAdmin"><i class="file alternate icon"></i><span
      class="hideMobile">FILES</span></a>
    <ng-template ngbNavContent>
      <ng-content select="[eventFiles]"></ng-content>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
