.owl-dt-trigger-disabled{
  opacity: 1 !important;
}

input.timeWindowDate::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1 !important;/* Firefox */
}

input.timeWindowDate:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black !important;
}

input.timeWindowDate::-ms-input-placeholder { /* Microsoft Edge */
  color: black !important;
}
