<div class="ui segment">
  <form class="ui form">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="companyContainer marginB20">
          <div class="ui dividing header">
            <h3>Notes to All Venues <i class="cog icon"></i><i
              class="sitemap icon"></i><i
              class="map marker alternate icon"></i></h3>
          </div>
          <div class="field">
            <div class="textarea" contenteditable=""></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="marginT10"></div>
      <div class="ui button compact addNewVenue addToPanel" (click)="addVenue()"><i
        class="plus circle icon"></i><span class="hideMobile">Add Venue</span>
      </div>
      <h3 id="venuesAnchor" class="ui dividing header">Venues</h3>
      <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


        <ngb-accordion [closeOthers]="true" [activeIds]="'venueListIndex-'+activeVenuePanel">


          <ngb-panel *ngFor="let panel of eventToBeSaved.venues?.list; let i=index"
                     [id]="'venueListIndex-'+i">
            <ng-template ngbPanelTitle>
              <i class="dropdown icon"></i>Venue {{i+1}}
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="content active">
                <form class="ui form visible"
                      style="display: block !important;">
                  <div class="ui grid stackable">
                    <div class="seven wide column">
                      <div class="companyContainer marginB20">
                        <div class="ui dividing header">
                          <h3>Venue Company <i
                            class="globe icon"></i></h3>
                        </div>

                        <div class="kcpCardContainer">
                        </div>
                      </div>
                      <ng-content select="[assignFunctionCmp]"></ng-content>
                        <!--<div class="ui grid center aligned">
                          <div class="sixteen wide column">
                            <div class="ui button basic blue fluid addClient hasModal"
                                 data-modal="client"><i
                              class="plus circle icon"></i>Add
                              Venue
                            </div>
                          </div>
                        </div>-->
                      <!--</div>-->
                      <!--<div class="contactsContainer">
                        <div class="ui dividing header">
                          <h3>Venue Contacts <i
                            class="globe icon"></i></h3>
                        </div>
                        <div class="kipCardContainer">
                        </div>
                        <div
                          class="ui grid stackable center aligned">
                          <div class="sixteen wide column">
                            <div class="ui basic button blue fluid addContacts hasModal disabled"
                                 data-modal="contacts">
                              <i
                                class="plus circle icon"></i>Add
                              Contact
                            </div>
                          </div>
                        </div>
                      </div>-->
                    </div>
                    <div class="nine wide column">
                      <app-time-windows></app-time-windows>
                      <div class="ui dividing header">
                        <h3>Venue Requirements <i
                          class="cog icon"></i><i
                          class="sitemap icon"></i><i
                          class="map marker alternate icon"></i>
                        </h3>
                      </div>
                      <div class="field">
                        <div class="textarea" contenteditable="">
                        </div>
                      </div>

                    </div>
                    <div
                      class="sixteen wide column saveButtons paddingT0">
                      <div class="ui divider"></div>
                      <div class="ui grid stackable">
                        <div
                          class="sixteen wide column right aligned">
                          <div class="ui button hasModal"
                               data-modal="inviteModal">Save &amp;
                            Invite
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-panel>


        </ngb-accordion>


      </div>
    </div>
  </div>
</div>

