<ng-container *ngIf="showHeader; then headerTemplate"></ng-container>

<ng-template #headerTemplate>


<div class="ui sidebar sidebarContent left ">
  <!-- uncover visible -->
  <div class="profileMobileDisplay">
      <div class="imgContainer">
          <img [src]="(userSettingsService.settings | async)!.profileImage! || '../../assets/img/profile.png'" alt="" >
          <div class="ui button mini circular icon showProfileMenu" (click)="clickEvent()">
            <i class="cog icon ng-tns-c53-1" ></i>
            </div>
      </div>

      <h3>
        <span class="userName">{{(userSettingsService.settings | async)!.firstName!}} {{(userSettingsService.settings | async)!.lastName!}}</span>
      </h3>
      <div class="ui dropdown dropdownChangeCompany" (click)="clickEvent2()" tabindex="0">
        <div class="text">{{(userSettingsService.settings | async)!.defaultCompany?.companyName || 'NO ASSOCIATED COMPANY!' }}</div>
        <i class="dropdown icon"></i>
        <div class="menu transition" [ngClass]="status2 && !isView ? 'show' : 'd-none'" tabindex="-1">
          <div class="item"
            *ngFor="let company of (userSettingsService.settings | async)!.associatedCompanies; index as i"
            (click)="switchCompany($event, company)">
            {{company.companyName}}</div>
        </div>
      </div>


    <div class="profileMenu" [ngClass]="status && !isView ? 'show' : 'd-none'" >
        <ul class="subMenu">
          <li (click)="navToEditProfile($event) && hideAllMenus()">
            <a  class="cursor-pointer">Edit Profile</a>
          </li>
          <li><a href="https://konnect-events.atlassian.net/wiki/spaces/KPub/pages/262201/Konnect+Platform+User+Guide" target="_blank" class="cursor-pointer">User Guide</a></li>
          <li><a href="https://konnect-events.atlassian.net/servicedesk/customer/portal/1" target="_blank" class="cursor-pointer">Support Portal</a></li>
          <li (click)="logout($event)"><a class="cursor-pointer">Logout</a></li>
          <!-- <li>
            <div class="companySelector">
              <h4>Select Company</h4>
              <div class="ui dropdown dropdownChangeCompany" (click)="clickEvent2()" tabindex="0">
                  <div class="text">{{(userSettingsService.settings | async)!.defaultCompany?.companyName || 'NO ASSOCIATED COMPANY!' }}</div>
                  <i class="dropdown icon"></i>
                  <div class="menu transition" [ngClass]="status2 ? 'show' : 'd-none'" tabindex="-1">
                    <div class="item"
                      *ngFor="let company of (userSettingsService.settings | async)!.associatedCompanies; index as i"
                      (click)="switchCompany($event, company)">
                      {{company.companyName}}</div>
                  </div>
              </div>
          </div>
          </li> -->
        </ul>
      </div>
  </div>
  <!-- <ul>
      <li><a href="CE-01.html"><i class="plus circle icon"></i>Create Event</a></li>
      <li><a href="SKP.html"><i class="search icon"></i>Platform Search</a></li>
      <li><a class="inviteByEmailBtn hasModal" data-modal="inviteByEmail"><i class="user plus icon"></i>Invite Colleagues</a></li>
      <li><a href="AB-01.html"><i class="address book icon"></i>Manage Connections</a></li>
      <li class="hasSubMenu">
          <span><i class="building icon"></i>Manage Company</span>
          <ul class="subMenu">
              <li><a href="MC.html">Company Profile</a></li>
              <li><a href="IC-01.html">Manage Colleagues</a></li>
          </ul>
      </li>
  </ul> -->
  <ul>
    <li class="column center aligned middle aligned itemMenu">
      <a  [attr.href]="(isApproved || isViewPermission )? 'dashboard-events-01.html' : null" [class.disabled]="((!isApproved || isView) && !isViewPermission)"><i
          class="home icon"></i>Dashboard</a>
    </li>
    <li class="column center aligned middle aligned itemMenu">
      <a  onclick="sidebarToggle()"  routerLink="/home/event/create" (click)="hideAllMenus()"
        [class.disabled]="!isApproved || isView"><i class="plus circle icon"></i>Create Event</a>
    </li>
    <li class="column center aligned middle aligned itemMenu">
      <a  onclick="sidebarToggle()"  routerLink="/home/search-platform" [class.disabled]="!isApproved || isView"><i
          class="search icon"></i>Platform Search</a>
    </li>
    <li class="column center aligned middle aligned itemMenu">
      <a  onclick="sidebarToggle()"  routerLink="/home/manage-connections" (click)="hideAllMenus()" [class.disabled]="!isApproved || isView"><i
          class="address book icon"></i>Connections</a>
    </li>
    <li class="column center aligned middle aligned itemMenu">
      <a  onclick="sidebarToggle()"  class="inviteByEmailBtn hasModal" routerLink="/home/company/manage-colleagues" data-modal="inviteByEmail" [class.disabled]="!isApproved || isView"><i
          class="user plus icon"></i>Invite
        Colleagues</a>
    </li>
    <li class="column center aligned middle aligned itemMenu">
      <span class="displaySubMenu" (click)="isApproved && clickEvent3()"
        [ngStyle]="{'color':isApproved && !isView?'#fdd200':'gray', 'cursor':isApproved && !isView?'pointer':'not-allowed'}"><i
          class="building icon"></i>Manage Company</span>
      <ul class="subMenu" [ngClass]="status3 ? 'show' : 'd-none'" [@fade]="activeMenu==='manageCompany'">
        <li><a  onclick="sidebarToggle()"  routerLink="/home/company/manage-company" (click)="hideAllMenus()"
            [class.disabled]="!isApproved || isView">Company Profile</a></li>
        <li><a  onclick="sidebarToggle()"  routerLink="/home/company/manage-colleagues" (click)="hideAllMenus()"
            [class.disabled]="!isApproved || isView">Manage Colleagues</a></li>
      </ul>
    </li>
  </ul>
</div>


  <div class="actionBar">
    <header class="hideMobile">
      <div class="ui grid">
        <div class="three wide column center aligned middle aligned aligned-center">
          <h1><a href="https://www.konnect.events/" target="_blank">konnect</a></h1>
        </div>
        <div class="nine wide column paddingL0 paddingR0">
          <ul class="ui six column grid stackable mainMenu">
            <li class="column center aligned middle aligned itemMenu">
              <a [attr.href]="(isApproved || isViewPermission ) ? 'dashboard-events-01.html' : null" [class.disabled]="((!isApproved || isView) && !isViewPermission)"><i
                  class="home icon"></i>Dashboard</a>
            </li>
            <li class="column center aligned middle aligned itemMenu">
              <a   routerLink="/home/event/create" (click)="hideAllMenus()"
                [class.disabled]="!isApproved || isView"><i class="plus circle icon"></i>Create Event</a>
            </li>
            <li class="column center aligned middle aligned itemMenu">
              <a routerLink="/home/search-platform" [class.disabled]="!isApproved || isView"><i
                  class="search icon"></i>Platform Search</a>
            </li>
            <li class="column center aligned middle aligned itemMenu">
              <a routerLink="/home/manage-connections" (click)="hideAllMenus()" [class.disabled]="!isApproved || isView"><i
                  class="address book icon"></i>Connections</a>
            </li>
            <li class="column center aligned middle aligned itemMenu">
              <a class="inviteByEmailBtn hasModal" routerLink="/home/company/manage-colleagues" data-modal="inviteByEmail" [class.disabled]="!isApproved || isView"><i
                  class="user plus icon"></i>Invite
                Colleagues</a>
            </li>
            <li class="column center aligned middle aligned itemMenu">
              <span class="displaySubMenu" (click)="isApproved && clickEvent3()"
                [ngStyle]="{'color':isApproved && !isView?'#fdd200':'gray', 'cursor':isApproved && !isView?'pointer':'not-allowed'}"><i
                  class="building icon"></i>Manage Company</span>
              <ul class="subMenu" [ngClass]="status3 ? 'show' : 'd-none'" [@fade]="activeMenu==='manageCompany'">
                <li><a routerLink="/home/company/manage-company" (click)="hideAllMenus()"
                    [class.disabled]="!isApproved || isView">Company Profile</a></li>
                <li><a routerLink="/home/company/manage-colleagues" (click)="hideAllMenus()"
                    [class.disabled]="!isApproved || isView">Manage Colleagues</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="four wide column">
          <div class="profileInfo">
            <img [src]="(userSettingsService.settings | async)!.profileImage! || '../../assets/img/profile.png'" alt=""
              class="ui fluid image circular">
            <div class="headerCompanySelector">
              <span class="userName">{{(userSettingsService.settings | async)!.firstName!}} {{(userSettingsService.settings | async)!.lastName!}}</span>
              <div class="ui dropdown dropdownChangeCompany" (click)="clickEvent2()" tabindex="0">
                <div class="text">{{(userSettingsService.settings | async)!.defaultCompany?.companyName || 'NO ASSOCIATED COMPANY!' }}</div>
                <i class="dropdown icon"></i>
                <div class="menu transition" [ngClass]="status2 && !isView  ? 'show' : 'd-none'" tabindex="-1">
                  <div class="item"
                    *ngFor="let company of (userSettingsService.settings | async)!.associatedCompanies; index as i"
                    (click)="switchCompany($event, company)">
                    {{company.companyName}}</div>
                </div>
              </div>
            </div>
            <div class="ui button mini circular compact icon displaySettings" (click)="clickEvent()">
              <i class="cog icon"></i>
            </div>
          </div>
          <ul class="subMenu" [ngClass]="status && !isView ? 'show' : 'd-none'">
            <li (click)="navToEditProfile($event) && hideAllMenus()">
              <a  class="cursor-pointer">Edit Profile</a>
            </li>
            <li><a href="https://konnect-events.atlassian.net/wiki/spaces/KPub/pages/262201/Konnect+Platform+User+Guide" target="_blank" class="cursor-pointer">User Guide</a></li>
            <li><a href="https://konnect-events.atlassian.net/servicedesk/customer/portal/1" target="_blank" class="cursor-pointer">Support Portal</a></li>
            <li (click)="logout($event)"><a class="cursor-pointer">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="ui container visibleMobile">
      <div class="ui grid">
          <div class="sixteen wide column center aligned">
              <a href="javaScript:void(0)" class="openMobileMenu visibleMobile" onclick="sidebarToggle()" ><i class="ui bars icon"></i></a>
              <h1><a href="javascript:void()">konnect</a></h1>
          </div>
      </div>
  </div>

  </div>
</ng-template>
