<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column maxWidth">
      <div class="ui grid">
        <div class="sixteen wide column left aligned">
          <h2>Manage Connections</h2>
        </div>
      </div>
      <div class="ui segment">
        <form class="ui form">
          <div class="ui grid">
            <div class="sixteen wide column left aligned">
              <h3 class="ui dividing header">Address Book</h3>
            </div>
            <div class="sixteen wide column maxWidth">

              <div class="">
                <div class="ui four column grid regionOptions">
                  <div class="">
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="radio" id="radio1" name="same" class="hidden" tabindex="0"
                               [(ngModel)]="isExternal" [value]="0" [ngModelOptions]="{standalone:true}"
                               (ngModelChange)="onSearchScopeChange($event)">
                        <label for="radio1">Internal</label>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="radio" id="radio2" name="same" class="hidden" tabindex="0"
                               [(ngModel)]="isExternal" [value]="1" [ngModelOptions]="{standalone:true}"
                               (ngModelChange)="onSearchScopeChange($event)">
                        <label for="radio2">External</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ul ngbNav #nav="ngbNav" [(activeId)]="active"
                  class="nav-tabs ui pointing secondary menu ui manageMenuOuter" (navChange)="onNavChange($event)">
                <li [ngbNavItem]="1">
                  <a ngbNavLink class="item tabAdmin"><span class="hideMobile">People</span></a>
                  <ng-template ngbNavContent>
                    <div class="">
                      <div class="ui search searchPeople marginT20 marginB20">
                        <div class="ui fluid icon input">
                          <input class="prompt" type="text" placeholder="Search" autocomplete="off"
                                 [(ngModel)]="keyword" (ngModelChange)="doConnectionSearch($event)"
                                 [ngModelOptions]="{standalone:true}">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                      </div>
                      <div class="ui three column grid stackable">
                        <div class="column" *ngFor="let userConn of userConnections">
                          <div class="ui fluid card">
                            <div class="content">
                              <span *ngIf="userConn.isPrivate" class="ui blue right corner label popupNotes"
                                    data-content="Private Contact">
                                  <!--<i class="address card outline icon"></i>-->
                                <fa-icon [icon]="addressCardIcon"></fa-icon>
                              </span>
                              <img class="right floated mini ui image circular"
                                   [src]="userConn.profileImage || './assets/img/default_konnect_img.png' "
                                   appImageFallback="./assets/img/default_konnect_img.png">
                              <div class="header">
                                <a>{{userConn.firstName + ' ' + userConn.lastName}}</a>
                              </div>
                              <div class="meta">
                                {{userConn.headline || ''}}
                              </div>
                              <div class="description">
                                {{userConn.email}}<br>
                                {{userConn.mobile}}
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="ten wide column">
                                  <div *ngIf="!userConn.isConnected && isUserAdmin && isExternal===1"
                                       class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"
                                       (click)="addToConnections(userConn?.userId)"><i class="star icon"></i>Add to
                                    connections
                                  </div>
                                  <div *ngIf="userConn.isConnected && isUserAdmin && isExternal===0"
                                       class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"
                                       (click)="openRemoveConfirmationBox(userConn?.userId)"><i class="star icon"></i>Remove from
                                    connections
                                  </div>
                                </div>
                                <div class="six wide column right aligned"
                                     *ngIf="userConn?.isPrivate && userConn.creatorCompanyId===defaultCompany.id && isUserAdmin">
                                  <div class="ui circular compact mini basic icon button editProfileBtn"><i
                                    class="pencil alternate icon"></i></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/elliot.jpg">
                              <div class="header">
                                <a href="/VPP.html" target="_blank">Elliot Fu</a>
                              </div>
                              <div class="meta">
                                Headline
                              </div>
                              <div class="description">
                                mail@mail.com<br>
                                1234 5678
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/matt.jpg">
                              <div class="header">
                                <a href="/VPP.html" target="_blank">Elliot Fu</a>
                              </div>
                              <div class="meta">
                                Headline
                              </div>
                              <div class="description">
                                mail@mail.com<br>
                                1234 5678
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/elliot.jpg">
                              <div class="header">
                                <a href="/VPP.html" target="_blank">Elliot Fu</a>
                              </div>
                              <div class="meta">
                                Headline
                              </div>
                              <div class="description">
                                mail@mail.com<br>
                                1234 5678
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                                                                <span class="ui blue right corner label popupNotes"
                                                                      data-content="Private Contact">
                                                                    <i class="address card outline icon"></i>
                                                                </span>
                              <img class="right floated mini ui image circular" src="../../assets/img/matt.jpg">
                              <div class="header">
                                <a href="/VPP.html" target="_blank">Elliot Fu</a>
                              </div>
                              <div class="meta">
                                Headline
                              </div>
                              <div class="description">
                                mail@mail.com<br>
                                1234 5678
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="ten wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                                <div class="six wide column right aligned">
                                  <div class="ui circular compact mini basic icon button editProfileBtn"><i
                                    class="pencil alternate icon"></i></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/joe.jpg">
                              <div class="header">
                                <a href="/VPP.html" target="_blank">Elliot Fu</a>
                              </div>
                              <div class="meta">
                                Headline
                              </div>
                              <div class="description">
                                mail@mail.com<br>
                                1234 5678
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink class="item tabAdmin"><span
                    class="hideMobile">Companies</span></a>
                  <ng-template ngbNavContent>
                    <div class="">
                      <div class="ui search searchCompany marginT20 marginB20">
                        <div class="ui fluid icon input">
                          <input class="prompt" type="text" placeholder="Search" autocomplete="off"
                                 [(ngModel)]="keyword" (ngModelChange)="doConnectionSearch($event)"
                                 [ngModelOptions]="{standalone:true}">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                      </div>
                      <div class="ui three column grid stackable">
                        <div class="column" *ngFor="let cmpConn of companyConnections">
                          <div class="ui fluid card">
                            <div class="content">
                             <span *ngIf="cmpConn?.isPrivate" class="ui blue right corner label popupNotes"
                                   data-content="Private Contact">
                                 <!--<i class="address card outline icon"></i>-->
                               <fa-icon [icon]="addressCardIcon"></fa-icon>
                             </span>
                              <img class="right floated mini ui image circular"
                                   [src]="cmpConn?.profileImage ||'./assets/img/default_konnect_img.png'"
                                   appImageFallback="./assets/img/default_konnect_img.png">
                              <div class="header">
                                <a>{{cmpConn?.companyName}}</a>
                              </div>
                              <div class="meta">
                                <a *ngIf="cmpConn?.website" target="_blank" [href]="cmpConn?.website">
                                  {{cmpConn?.website}}
                                </a>
                                <span *ngIf="cmpConn?.website">|</span>
                                <a><i
                                  class="map marker alternate icon"></i>{{cmpConn?.city}}</a><span> |</span><i
                                class="phone icon"></i>{{cmpConn?.phone}}
                              </div>
                              <div class="description">{{cmpConn?.description}}</div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="ten wide column">
                                  <div *ngIf="!cmpConn.isConnected && isUserAdmin && isExternal===1"
                                       class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal" (click)="addToConnections(cmpConn?.companyId)"><i class="star icon"></i>Add to connections
                                  </div>
                                  <div *ngIf="cmpConn.isConnected && isUserAdmin && isExternal===0"
                                       class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal" (click)="openRemoveConfirmationBox(cmpConn?.id)">
                                    <i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                                <div class="six wide column right aligned"
                                     *ngIf="cmpConn?.isPrivate && cmpConn?.creatorCompanyId===defaultCompany.id && isUserAdmin">
                                  <div class="ui circular compact mini basic icon button editProfileBtn"><i
                                    class="pencil alternate icon"></i></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/joe.jpg">
                              <div class="header">
                                <a href="/VCP.html" target="_blank">Company Name</a>
                              </div>
                              <div class="meta">
                                <a href="https://goo.gl/maps/n4DPECjGtgno53FL9" target="_blank"><i
                                  class="map marker alternate icon"></i>Sydney</a><span> |</span><i
                                class="phone icon"></i>9876 5432
                              </div>
                              <div class="description"></div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="ui fluid card">
                            <div class="content">
                              <img class="right floated mini ui image circular" src="../../assets/img/matt.jpg">
                              <div class="header">
                                <a href="/VCP.html" target="_blank">Company Name</a>
                              </div>
                              <div class="meta">
                                <a href="https://goo.gl/maps/n4DPECjGtgno53FL9" target="_blank"><i
                                  class="map marker alternate icon"></i>Sydney</a><span> |</span><i
                                class="phone icon"></i>9876 5432
                              </div>
                              <div class="description"></div>
                            </div>
                            <div class="extra content">
                              <div class="ui grid">
                                <div class="sixteen wide column">
                                  <div class="ui circular compact mini basic button confirmRemove hasModal active"
                                       data-modal="removeModal"><i class="star icon"></i>Remove from connections
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </ng-template>
                </li>

              </ul>

              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <app-remove-modal
    [toRemove]="removalType"
    (cancel)="cancelRemove()"
    (confirm)="confirmRemove()"
    [modalInfoContent]="'Are you sure you want to remove the connection from this company'"
  ></app-remove-modal>
</div>
