.copy_icon_img img{width: 18px;}
.primary-outlineBtn { background-color: #fff !important; border: 1px solid #0091e6 !important; color: #0091e6!important; }
/* .primary-outlineBtn:hover { background-color: #0091e6 !important; border: 1px solid #0091e6 !important; color: #fff!important; }*/