<div *ngIf="eventToBeSaved.venues &&
    eventToBeSaved.venues.list &&
    eventToBeSaved.venues.list.length>0; else noVenues" class="ui segment">
  <ul ngbNav #venueNav="ngbNav" class="nav-tabs supplierInnerCont" [destroyOnHide]="false">
    <li ngbNavItem *ngFor="let venue of eventToBeSaved.venues.list; let venueIndex=index">
      <a ngbNavLink><i class="map marker alternate icon"></i>
        {{venueCompanies && venueCompanies.length>0 && venueCompanies[venueIndex]?
        venueCompanies[venueIndex]!.companyName+', '+venueCompanies[venueIndex]!.city:'Venue-'+(venueIndex + 1)}}</a>
      <ng-template ngbNavContent>

        <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


          <form class="ui form visible" style="display: block !important;">
            <div class="ui grid stackable">

              <div class="seven wide column" *ngIf="venue.exhibitorList[0]">
                <div class="ui dividing header">
                  <h3>Notes to All Exhibitors
                    <i class="icon"> <img src="../../../../../assets/img/client-icon.png" width="15px"> </i>
                    <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png" width="15px"> </i>
                    <i class="exhibitor icon"></i>
                  </h3>
                </div>
                <div class="field">
                  <!-- <textarea class="textarea" rows="3" *ngIf="venue.exhibitorList && venue.exhibitorList[0]"
                    [(ngModel)]="venue.exhibitorList[0].notesToAll" [ngModelOptions]="{standalone:true}"></textarea> -->
                  <angular-editor *ngIf="venue.exhibitorList && venue.exhibitorList[0]"
                    [(ngModel)]="venue.exhibitorList[0].notesToAll" [config]="config" (focus)="changeConfig()"
                    [ngModelOptions]="{standalone: true}">
                  </angular-editor>
                </div>
              </div>

              <div class="nine wide column" *ngIf="venue.exhibitorList[0]">

                <div class="field">
                  <div class="timeWindowsContainer">
                    <div class="ui dividing header">
                      <h3>Exhibition Time windows
                        <i class="icon"> <img src="../../../../../assets/img/client-icon.png" width="15px"> </i>
                        <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png" width="15px"> </i>
                        <i class="exhibitor icon"></i>
                      </h3>
                    </div>
                    <p>Dates and times for the exhibition part of your event must be specified below</p>

                    <app-time-windows [timeWindowFor]="eventTimeWindowForAllExh"
                      [venuePreEventTimes]="eventToBeSaved.venues.list[venueIndex].preEventAccessDateTimes"
                      [venueEventTimes]="eventToBeSaved.venues.list[venueIndex].eventAccessDateTimes"
                      [venuePostEventTimes]="eventToBeSaved.venues.list[venueIndex].postEventAccessDateTimes"
                      [venueIndex]="venueIndex" [windowLabels]="['Bump In', 'Exhibition', 'Bump Out']"
                      [index]="venueIndex" [isVenueDependent]="true"
                      [preEventTimes]="venue.exhibitorList[0].timeWindowsToAll.bumpIn.timings"
                      [postEventTimes]="venue.exhibitorList[0].timeWindowsToAll.bumpOut.timings"
                      [eventTimes]="venue.exhibitorList[0].timeWindowsToAll.eventTime.timings"></app-time-windows>

                  </div>
                </div>

              </div>

            </div>

            <div class="sixteen wide column" *ngIf="false">
              <div class="ui dividing header">
                <h3>Request to Join as Exhibitor URL</h3>
              </div>
              <div class="field">
                <p>
                  Use this URL on your event website or email to exhibitor prospects to allow them to join the event as
                  exhibitors. <br>
                  <a href="">https://www.konnect.events.com?exhjoin=eventID</a>
                </p>
              </div>
            </div>
          </form>
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="marginT10"></div>
              <div class="ui button compact addNewService addToPanel" (click)="addExhibitor(venue, venueIndex)">
                <i class="plus circle icon"></i>
                <span>Add Exhibitor</span>
              </div>
              <h3 id="servicesAnchor" class="ui dividing header">Exhibitors</h3>
              <div class="marginT10"></div>
            </div>
          </div>

          <!-- <ngb-accordion
            [closeOthers]="true"
            (panelChange)="panelChange($event)"
            #ngbAccordion
            [activeIds]="'exhibitorListIndex-'+activeExhibitorPanel"
            [destroyOnHide]="false"> -->

          <ngb-accordion (panelChange)="panelChange($event)" #ngbAccordion [destroyOnHide]="false">

            <ng-container *ngIf="venue.exhibitorList[0]">
              <ngb-panel *ngFor="let exhibitor of venue.exhibitorList[0].exhibitors; let exhibitorIndex=index"
                [id]="'exhibitorListIndex-'+exhibitorIndex"
                (shown)="exhibitorPanelActivated(venueIndex,exhibitorIndex)">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="accordion-button custom-header" [class.collapsed]="!opened">
                    <button ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0 accordionBtnNew">
                      <i class="dropdown icon"></i>
                      Exhibitor {{exhibitorIndex + 1}}: <span
                        *ngIf="venuesExhCmpsMap.get(venueIndex) && venuesExhCmpsMap.get(venueIndex)?.get(exhibitorIndex)">{{venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)!.companyName}}</span>
                    </button>

                    <div class="flaot-right accordionCheckBox">
                      <div class="ui checkbox">
                        <input type="checkbox" class="hidden" [id]="'times-'+exhibitorIndex+'_venue_'+venueIndex"
                          (change)="listenTimeChange($event, venueIndex, exhibitorIndex)" tabindex="0">
                        <label [for]="'times-'+exhibitorIndex+'_venue_'+venueIndex">Use Exhibition Times</label>
                      </div>
                    </div>

                  </div>
                </ng-template>
                <!-- <ng-template ngbPanelTitle>
                  <i class="dropdown icon"></i>
                  Exhibitor {{exhibitorIndex + 1}}: <span
                    *ngIf="venuesExhCmpsMap.has(venueIndex) && venuesExhCmpsMap.get(venueIndex)!.has(exhibitorIndex)">{{venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)!.companyName}}</span>
                </ng-template> -->
                <ng-template ngbPanelContent>
                  <div class="content active">
                    <form class="ui form visible" style="display: block !important;">
                      <div class="ui grid stackable">

                        <div class="seven wide column">
                          <div class="companyContainer marginB20">
                            <div class="ui dividing header">
                              <h3>Exhibitor Company
                                <i class="icon"> <img src="../../../../../assets/img/client-icon.png" width="15px"> </i>
                                <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png"
                                    width="15px"> </i>
                                <i class="building icon"></i>
                              </h3>
                            </div>
                            <div class="kcpCardContainer">
                              <div
                                *ngIf="venuesExhCmpsMap.has(venueIndex) && venuesExhCmpsMap.get(venueIndex)!.has(exhibitorIndex)"
                                class="ui one column grid">
                                <div class="column">
                                  <div class="ui fluid card">
                                    <div class="content">
                                      <img class="right floated mini ui image"
                                        [src]="getCompanyProfileImage(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)) || 'assets/img/default_konnect_img.png'"
                                        appImageFallback fallbackImage="assets/img/default_konnect_img.png"
                                        onerror="src='assets/img/default_konnect_img.png'">
                                      <div class="header">
                                        <a
                                          (click)="goToCompanyProfile(getCompanyId(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)))">{{venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)!.companyName}}</a>
                                      </div>
                                      <div class="meta">
                                        <a *ngIf="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))"
                                          [href]="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))"
                                          target="_blank">
                                          {{getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))}}
                                        </a>
                                        <span
                                          *ngIf="getCompanyWebsite(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))">|</span>
                                        <span class="m-0">
                                          <i
                                            class="map marker alternate icon"></i>{{venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex)!.city}}
                                        </span>
                                        <span>|</span>
                                        <i class="phone icon"></i>{{
                                        (venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex) &&
                                        getCompanyPhone(venuesExhCmpsMap.get(venueIndex)!.get(exhibitorIndex))) || ''}}
                                      </div>
                                    </div>
                                    <div class="extra content" [ngClass]="{'editableObject':false}">
                                      <div class="ui grid">
                                        <div class="ten wide column">

                                        </div>
                                        <div class="six wide column right aligned">
                                          <div (click)="removeSelectedCompany(venueIndex,exhibitorIndex)"
                                            class="ui circular compact mini basic button confirmRemove hasModal"
                                            data-modal="removeModal"><i class="trash alternate icon"></i>Remove
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <app-event-assign-function-cmp #exhibitorsAssignCmp
                            [selectedCompany]="venuesExhCmpsMap.get(venueIndex)?.get(exhibitorIndex)"
                            [clientCmpBtnLabel]="'Add Exhibitor'" [contactListLabel]="'Exhibitors Contacts'"
                            [clientCompanyModal]="searchInviteCmpModal" [contactModal]="searchInviteFnCmpCntModal"
                            (modalOpen)="setOpenedModalRef($event)"
                            [contactList]="exhibitor.contacts?exhibitor.contacts:[]"
                            (contactRemove)="removeExhibitorContact(venueIndex,exhibitorIndex,$event)">
                          </app-event-assign-function-cmp>
                        </div>
                        <!--<div class="ui grid center aligned">
                            <div class="sixteen wide column">
                              <div class="ui button basic blue fluid addClient hasModal"
                                   (click)="openVerticallyCentered(content)">
                                <i class="plus circle icon"></i>Add Exhibitor
                              </div>
                            </div>
                          </div>-->
                        <!-- </div>-->
                        <!--<div class="contactsContainer">
                            <div class="ui dividing header">
                              <h3>Exhibitor Contacts <i class="cog icon"></i><i class="sitemap icon"></i><i
                                class="building icon"></i></h3>
                            </div>
                            <div class="kipCardContainer">

                            </div>
                            <div class="ui grid stackable center aligned">
                              <div class="sixteen wide column">
                                <div class="ui basic button blue fluid addContacts hasModal disabled"
                                     data-modal="contacts">
                                  <i class="plus circle icon"></i>Add Contact
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->

                        <div class="nine wide column">
                          <div class="ui dividing header">
                            <h3>Stand Number <i class="icon"> <img src="../../../../../assets/img/client-icon.png"
                                  width="15px"> </i>
                              <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png" width="15px">
                              </i><i class="building icon"></i>
                            </h3>
                          </div>
                          <div class="field">
                            <input type="text" [(ngModel)]="exhibitor.standNumber" [ngModelOptions]="{standalone:true}"
                              placeholder="Stand Number">
                          </div>
                          <div class="ui dividing header">
                            <h3>Notes to Specific Exhibitor <i class="icon"> <img
                                  src="../../../../../assets/img/client-icon.png" width="15px"> </i>
                              <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png" width="15px">
                              </i><i class="building icon"></i>
                            </h3>
                          </div>
                          <div class="field">
                            <textarea rows="3" class="textarea" [(ngModel)]="exhibitor.requirement"
                              [ngModelOptions]="{standalone:true}"></textarea>
                            <angular-editor [(ngModel)]="exhibitor.requirement" [config]="config1" (focus)="changeConfig1()"
                              [ngModelOptions]="{standalone: true}">
                            </angular-editor>
                          </div>
                          <div class="field">
                            <div class="timeWindowsContainer">
                              <div class="ui dividing header">
                                <h3>Exhibitor Specific Time windows <i class="icon"> <img
                                      src="../../../../../assets/img/client-icon.png" width="15px"> </i>
                                  <i class="icon"> <img src="../../../../../assets/img/event-manager-icon.png"
                                      width="15px"> </i><i class="building icon"></i>
                                </h3>
                              </div>

                              <app-time-windows [preEventTimesCount]="preEventTimesCount"
                                [eventTimesCount]="eventTimesCount" [postEventTimesCount]="postEventTimesCount"
                                [isPreEventTimesSameAsExhibition]="isPreEventTimesSameAsExhibition"
                                [isEventTimesSameAsExhibition]="isEventTimesSameAsExhibition"
                                [isPostEventTimesSameAsExhibition]="isPostEventTimesSameAsExhibition"
                                [useVenueTimes]="isUseVenueTime" [timeWindowFor]="eventTimeWindowType"
                                [venuePreEventTimes]="eventToBeSaved.venues.list[venueIndex].preEventAccessDateTimes"
                                [venueEventTimes]="eventToBeSaved.venues.list[venueIndex].eventAccessDateTimes"
                                [venuePostEventTimes]="eventToBeSaved.venues.list[venueIndex].postEventAccessDateTimes"
                                [exhibitorForAllPreEventTimes]="eventToBeSaved.venues.list[venueIndex].exhibitorList[0].timeWindowsToAll.bumpIn.timings"
                                [exhibitorForAllEventTimes]="eventToBeSaved.venues.list[venueIndex].exhibitorList[0].timeWindowsToAll.eventTime.timings"
                                [exhibitorForAllPostEventTimes]="eventToBeSaved.venues.list[venueIndex].exhibitorList[0].timeWindowsToAll.bumpOut.timings"
                                [venueIndex]="venueIndex" [windowLabels]="['Bump In', 'Event Time', 'Bump Out']"
                                [isVenueDependent]="true" [index]="exhibitorIndex"
                                [preEventTimes]="exhibitor.timeWindows.bumpIn.timings"
                                [postEventTimes]="exhibitor.timeWindows.bumpOut.timings"
                                [eventTimes]="exhibitor.timeWindows.eventTime.timings"></app-time-windows>

                            </div>
                          </div>

                        </div>
                        <div class="sixteen wide column saveButtons paddingT0">
                          <div class="ui divider"></div>
                          <div class="ui grid stackable">
                            <div class="sixteen wide column right aligned">
                              <div class="ui button hasModal" data-modal="inviteModal"
                                (click)="saveAndInvite.emit({venueIndex:venueIndex, exhibitorIndex:exhibitorIndex, shouldInvite:true})">
                                Save
                                <!-- &amp; Invite -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </ngb-panel>
            </ng-container>
          </ngb-accordion>


        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="venueNav" class="mt-2 innerTabCont"></div>

  <div class="sixteen wide column mb-4">
    <a href="https://konnectevents.freshdesk.com/support/solutions/articles/51000289446-how-to-use-exhibitor-tab"
      target="_blank" class="btn btn-warning warningThemeBtn"> <i class="icon info"></i> How to use this page </a>
  </div>

</div>
<ng-template #noVenues>
  <div class="ui segment">
    <h2>At least one venue company is required to add exhibitors!</h2>
  </div>
</ng-template>