<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column maxWidth">
      <div class="ui grid">
        <div class="sixteen wide column left aligned">
          <h2>Edit Konnect Profile</h2>
        </div>
      </div>
      <div class="ui segment">
        <form class="ui form" [formGroup]="editProfileForm">
          <div class="ui grid stackable">
            <div class="nine wide column left aligned">
              <h3 class="ui dividing header">Personal Details</h3>
              <div class="two fields">
                <div class="field">
                  <div class="ui grid centered">
                    <div class="ten wide column marginB10 marginT10">
                      <img
                        [src]="selectedImageSrc?(selectedImageSrc |safeUrlPipe): userInfo?.profileImage || '../../assets/img/joe.jpg'"
                        alt="" class="ui medium fluid image marginB10 userleftImgUpdate">
                      <div class="ui button basic small compact blue fluid"
                           appFileUploadTrigger
                           [fileUploadComponentRef]="fileUploadComponent">Replace profile image
                      </div>
                      <app-file-upload #fileUploadComponent
                                       [config]="profileImageConfig"
                                       (fileChange)="setSelectedImage($event)"
                      ></app-file-upload>
                    </div>
                  </div>
                </div>
                <div class="field hideMobile">
                  &nbsp;
                </div>
              </div>
              <div class="two fields">
                <div class="field required">
                  <label for="edit-profile-first-name">First Name</label>
                  <input id="edit-profile-first-name"
                         type="text"
                         placeholder="First Name"
                         formControlName="firstName"
                         required>
                  <span
                    *ngIf="editProfileForm!.get('firstName')?.touched
          && editProfileForm!.get('firstName')?.errors?.required"
                    class="text-danger"
                  >First Name is Required</span>
                </div>
                <div class="field">
                  <label>Last Name</label>
                  <input id="edit-profile-last-name"
                         type="text"
                         placeholder="Last Name"
                         formControlName="lastName">
                </div>
              </div>
              <div class="field">
                <label>Headline</label>
                <input type="text" value="Headline" formControlName="headline">
              </div>
              <div class="field required">
                <label>Email Address</label>
                <input id="edit-profile-email"
                       type="email"
                       placeholder="Email Address"
                       formControlName="email"
                       [attr.disabled]="true">
                <span
                  *ngIf="editProfileForm!.get('email')?.touched
          && (
          editProfileForm!.get('email')?.errors?.required ||
          editProfileForm!.get('email')?.errors?.email
          )"
                  class="text-danger"
                >A valid email is required</span>
              </div>
              <div class="field">
                <label>Recovery Email</label>
                <input type="email" formControlName="recoveryEmail">
                <span
                  *ngIf="editProfileForm!.get('recoveryEmail')?.touched
          && (editProfileForm!.get('recoveryEmail')?.errors?.email)"
                  class="text-danger"
                >A valid email is required</span>
              </div>
              <div class="field">
                <label>Time Zone</label>
                <select class="ui fluid dropdown"
                        formControlName="timeZone">
                  <option *ngFor="let timeZone of timeZones" [ngValue]="timeZone" [disabled]="!timeZone.val">
                    {{ timeZone.name }}
                  </option>
                </select>
                <span
                  *ngIf="editProfileForm!.get('timeZone')?.touched
          && (
          editProfileForm!.get('timeZone')?.hasError('required')
          )"
                  class="text-danger"
                >Time-zone is required</span>
              </div>
              <div class="two fields">
                <div class="field">
                  <label>Mobile</label>
                  <input type="email" placeholder="+611234567890" formControlName="mobileNumber">
                  <span
                    *ngIf="(editProfileForm!.get('mobileNumber')?.dirty || editProfileForm!.get('mobileNumber')?.touched) &&
                    (editProfileForm!.get('mobileNumber')?.hasError('pattern'))"
                    class="text-danger"
                  >Please provide mobile number in format: +611234567890</span>
                </div>
              </div>
              <div class="two fields">
                <div class="field required">
                  <label>City</label>
                  <input type="text" formControlName="city">
                  <span
                    *ngIf="editProfileForm!.get('city')?.touched
          && (
          editProfileForm!.get('city')?.hasError('required')
          )"
                    class="text-danger"
                  >City is required</span>
                </div>
                <div class="field required">
                  <label>Country</label>
                  <select class="ui fluid dropdown selection"
                          formControlName="countryId" required>
                    <option *ngFor="let cntr of countries" [ngValue]="cntr.val" [disabled]="!cntr.val">
                      {{ cntr.name }}
                    </option>
                  </select>
                  <span
                    *ngIf="editProfileForm!.get('countryId')?.touched
          && (
          editProfileForm!.get('countryId')?.hasError('required')
          )"
                    class="text-danger"
                  >Country is required</span>
                </div>
              </div>
              <div class="field">
                <label>About Me</label>
                <textarea rows="3" class="textarea" formControlName="aboutMe">
                </textarea>
                <p class="textRight marginT10 smallText">*compulsory fields</p>
              </div>
              <div class="sixteen wide column paddingT0">
                <div class="ui divider"></div>
              </div>
              <div class="ui grid stackable">
                <div (click)="confirmDeleteUserProfile($event)" class="eight wide column middle aligned">
                  <a class="ui mini basic button confirmRemove hasModal" data-modal="removeModal"><i
                    class="ui trash icon"></i>Delete Profile</a>
                </div>
                <div class="eight wide column right aligned">
                  <a disabled class="ui button basic blue hideMobile">Change Password</a>
                  <button (click)="checkValidityOfForm($event) && uploadImageAndUpdateProfile($event)"
                          class="ui button hideMobile ml-2">Save
                  </button>
                  <div disabled class="marginB10 visibleMobile"><a href="RP-01.html" class="ui button basic blue fluid">Change
                    Password</a></div>
                  <button (click)="checkValidityOfForm($event) && uploadImageAndUpdateProfile($event)"
                          class="ui button fluid visibleMobile ml-2">Save
                  </button>
                </div>
              </div>
            </div>
            <div class="seven wide column left aligned">
              <div class="contactsContainer">
                <div class="field">
                  <h3 class="ui dividing header">Associated Companies</h3>
                </div>
                <div class="kcpCardContainer marginT20 marginB20">

                  <div class="grouped fields">
                    <div class="ui grid">
                      <div class="sixteen wide column" *ngFor="let company of userInfo.associatedCompanies;index as i">
                        <div class="ui fluid card">
                          <div class="content">
                            <img class="right floated mini ui image circular"
                                 [src]="company.companyProfileImage || '../../assets/img/default_konnect_img.png'">
                            <div class="header">
                              <a>{{company.companyName}}</a>
                            </div>
                            <div class="meta">
                              <b>{{company.position}}</b>
                              <a *ngIf="company?.website" target="_blank" [href]="company?.website">
                                {{company?.website}}
                              </a>
                              <span *ngIf="company?.website">|</span>
                              <a><i
                                class="map marker alternate icon"></i>
                                {{company.city}}
                              </a>
                              <span>|</span>
                              <i class="phone icon"></i>
                              {{company.phone}}
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="ui grid">
                              <div class="ten wide column">
                                <div class="field">
                                  <div class="ui toggle checkbox checked">
                                    <input type="radio" [checked]="company.isDefault"
                                           [id]="'defCom'+(company.id+1)" tabindex="0"
                                           [value]="company.id"
                                           formControlName="defaultCompanyId"
                                           class="hidden">
                                    <label [for]="'defCom'+(company.id+1)">Default company</label>
                                  </div>
                                </div>
                              </div>
                              <div class="six wide column right aligned middle aligned">
                                <div class="ui circular compact mini basic icon button confirmRemove hasModal"
                                     (click)="confirmRemoveCompany(company.id,i,company.isDefault===1)"><i
                                  class="trash icon"></i></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--
                      <div class="sixteen wide column">
                        <div class="ui fluid card">
                          <div class="content">
                            <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                            <div class="header">
                              <a href="/VCP.html" target="_blank">Company Name</a>
                            </div>
                            <div class="meta">
                              <b>Position</b>
                              <a href="https://goo.gl/maps/n4DPECjGtgno53FL9" target="_blank"><i
                                class="map marker alternate icon"></i>Sydney</a><span>|</span><i class="phone icon"></i>9876
                              5432
                            </div>
                            <div class="description"></div>
                          </div>
                          <div class="extra content">
                            <div class="ui grid">
                              <div class="ten wide column">
                                <div class="field">
                                  <div class="ui toggle checkbox">
                                    <input type="radio" name="throughput" id="defCom2" tabindex="0" class="hidden">
                                    <label for="defCom2">Default company</label>
                                  </div>
                                </div>
                              </div>
                              <div class="six wide column right aligned middle aligned">
                                <div class="ui circular compact mini basic icon button confirmRemove hasModal"
                                     (click)="openVerticallyCentered(content)"><i class="trash icon"></i></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sixteen wide column">
                        <div class="ui fluid card">
                          <div class="content">
                            <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                            <div class="header">
                              <a href="/VCP.html" target="_blank">Company Name</a>
                            </div>
                            <div class="meta">
                              <b>Position</b>
                              <a href="https://goo.gl/maps/n4DPECjGtgno53FL9" target="_blank"><i
                                class="map marker alternate icon"></i>Sydney</a><span>|</span><i class="phone icon"></i>9876
                              5432
                            </div>
                            <div class="description"></div>
                          </div>
                          <div class="extra content">
                            <div class="ui grid">
                              <div class="ten wide column">
                                <div class="field">
                                  <div class="ui toggle checkbox">
                                    <input type="radio" name="throughput" id="defCom3" tabindex="0" class="hidden">
                                    <label for="defCom3">Select as default company</label>
                                  </div>
                                </div>
                              </div>
                              <div class="six wide column right aligned middle aligned">
                                <div class="ui circular compact mini basic icon button confirmRemove hasModal"
                                     (click)="openVerticallyCentered(content)"><i class="trash icon"></i></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      -->
                    </div>
                  </div>

                </div>
                <a (click)="navigateToJoinCreateCompany($event)" class="ui button fluid">Join or create a company</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <app-remove-modal
    [toRemove]="removalType"
    (cancel)="cancelRemove($event)"
    (confirm)="confirmRemove($event)"
    [modalInfoContent]="removeMessage">
  </app-remove-modal>


</div>
