<div class="ui middle aligned center aligned grid">
  <div class="column minContainer marginT50 marginB30">
    <h2 *ngIf="createCompanyMode.type.soleTrader" class="segmentTitle">
      Sole Trader/Proprietor Details
    </h2>
    <h2 *ngIf="createCompanyMode.type.inc" class="segmentTitle">
      Company Details
    </h2>
    <form class="ui form" [formGroup]="createCompanyForm">
      <div class="ui stacked">
        <div class="ui grid stackable">
          <div class="row">
            <div class="eight wide column">
              <div class="uploadImage">
                <i *ngIf="!selectedImageSrc" class="upload icon"></i>
                <img *ngIf="selectedImageSrc" [src]="selectedImageSrc | safeUrlPipe"
                     alt="profile-image" class="uploadImage"/>
              </div>
              <div class="ui button basic small compact blue" appFileUploadTrigger
                   [fileUploadComponentRef]="fileUploadComponent"
              >Choose profile image
              </div>
              <app-file-upload #fileUploadComponent
                               [config]="profileImageConfig"
                               (fileChange)="setSelectedImage($event)"
              ></app-file-upload>
            </div>
          </div>
          <div class="sixteen wide column left aligned">
            <div class="field required">
              <label>{{createCompanyMode.type.soleTrader ? 'Trading Name' : 'Company Name'}}</label>
              <input type="text" name="first-name"
                     placeholder="Trading/Company Name"
                     formControlName="companyName">
            </div>
            <span
              *ngIf="createCompanyForm!.get('companyName')?.touched
          && createCompanyForm!.get('companyName')?.errors?.required"
              class="text-danger"
            >{{createCompanyMode.type.soleTrader ? 'Trading name is required' : 'Company name is required'}}</span>
          </div>
          <div class="eight wide column left aligned">
            <div class="field required">
              <label for="select-company-country">Country</label>
              <div class="CusSelectArrow" >
                <select id="select-company-country"
                        class="ui fluid dropdown selection"
                        formControlName="countryId">
                  <option *ngFor="let cntr of countries$ | async" [ngValue]="cntr.val" [disabled]="!cntr.val">
                    {{ cntr.name }}
                  </option>
                </select>
              </div>
              <span class="text-danger"
                    *ngIf="createCompanyForm!.get('countryId')?.touched &&
                (createCompanyForm!.get('countryId')?.hasError('required'))">
                Country is required</span>
            </div>
          </div>
          <div class="eight wide column left aligned">
            <div class="field required">
              <label>City</label>
              <input type="text" placeholder="City" formControlName="city">
              <span
                *ngIf="createCompanyForm!.get('city')?.touched &&
                (createCompanyForm!.get('city')?.hasError('required'))"
                class="text-danger"
              >City is required</span>
            </div>
          </div>
          <div class="sixteen wide column left aligned">
            <div class="column">
              <div class="field required" (click)="markCategoryTouched()">
                <label>Category</label>
                <ng-multiselect-dropdown
                  [ngModelOptions]="{standalone:true}"
                  [placeholder]="'Select one or more category'"
                  [settings]="dropdownSettings"
                  [data]="categoryList"
                  [(ngModel)]="selectedCategory"
                  (ngModelChange)="onCategoryChange($event)"
                ></ng-multiselect-dropdown>
                <span
                  *ngIf="createCompanyForm!.get('categoryIds')?.touched &&
                (createCompanyForm!.get('categoryIds')?.hasError('required'))"
                  class="text-danger"
                >At least one category has to be selected</span>
              </div>
            </div>
          </div>
          <div class="sixteen wide column left aligned">
            <div class="column">
              <div class="field" [ngClass]="{'required':createCompanyMode.type.inc}">
                <label>Website</label>
                <input type="text" placeholder="Website" formControlName="website">
                <span
                  *ngIf="(
                  createCompanyForm!.get('website')?.dirty || createCompanyMode.type.inc && createCompanyForm!.get('website')?.touched) &&
                (
                (createCompanyMode.type.inc && createCompanyForm!.get('website')?.hasError('required')) ||
                (createCompanyForm!.get('website')?.hasError('pattern'))
                )"
                  class="text-danger"
                >{{createCompanyMode.type.inc ? "A valid website for incorporated company is required" : "Please enter a valid website url"}}</span>
              </div>
            </div>
          </div>
          <div class="sixteen wide column left aligned">
            <div class="field">
              <label>Description</label>
              <!-- <textarea placeholder="Description" rows="5" formControlName="description"></textarea> -->
              <angular-editor id="createCompanyDescription"
              formControlName="description" [config]="config" (focus)="changeConfig()">
            </angular-editor>
              <p class="textRight marginT10 smallText">*compulsory fields</p>
            </div>
          </div>
          <div class="sixteen wide column paddingT0">
            <div class="ui divider"></div>
          </div>
          <div class="sixteen wide column right aligned saveButtons paddingT0">
            <div class="ui button">
              <div class="visible content" (click)="checkValidation() && saveImageAndCreateCompany()">Save</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
