<div class="ui segment">
  <form class="ui form">
    <div class="ui grid stackable">
      <div class="seven wide column">
        <div class="companyContainer marginB20">
          <div class="field checkboxOnHeader">
            <div class="ui dividing header">
              <h3>Event Management Company <i class="icon globe"></i></h3>
            </div>
            <div class="ui checkbox" (click)="toggleEvMgrOwnCompany()">
              <input type="checkbox" class="hidden" tabindex="0" [(ngModel)]="eventData.eventData.eventManager.isOwnCompany"
                     [ngModelOptions]="{standalone:true}">
              <label>My company</label>
            </div>
          </div>
          <div class="kcpCardContainer">
            <div *ngIf="selectedCompany" class="ui one column grid">
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <img class="right floated mini ui image"
                    [src]="eventData.eventData.eventManager.emCompanyProfileImage"
                    appImageFallback fallbackImage="assets/img/default_konnect_img.png">
                    <div class="header">
                      <a>{{eventData.eventData.eventManager.emCompanyName}}</a>
                    </div>
                    <div class="meta">
                      <!-- <a *ngIf="getCompanyWebsite()" [href]="getCompanyWebsite()"
                         target="_blank"> {{getCompanyWebsite()}}</a>
                      <span *ngIf="getCompanyWebsite()">|</span> -->
                      <a>
                        <i class="map marker alternate icon"></i>{{eventData.eventData.eventManager.emCompanyCity}}</a>
                      <span>|</span>
                      <i class="phone icon"></i>{{eventData.eventData.eventManager.emCompanyPhone || ''}}
                    </div>
                  </div>
                  <div class="extra content" [ngClass]="{'editableObject':false}">
                    <div class="ui grid">
                      <div class="ten wide column">

                      </div>
                      <div class="six wide column right aligned">
                        <div (click)="removeSelectedCompany.emit()" *ngIf="isEventEdit"
                             class="ui circular compact mini basic button confirmRemove hasModal"
                             data-modal="removeModal"><i class="trash alternate icon"></i>Remove
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-content select="[assignFunctionCmp]"></ng-content>
      </div>
      <div class="nine wide column">
        <div class="ui dividing header">
          <h3>Event Management Requirements <i class="icon globe"></i></h3>
        </div>
        <div class="field">
          <textarea class="textarea" [readonly]="!isEventEdit" [(ngModel)]="eventData.eventData.eventManager!.requirements"
          [ngModelOptions]="{standalone:true}"></textarea>
        </div>
      </div>
      <div class="sixteen wide column saveButtons paddingT0">
        <div class="ui divider"></div>
        <div class="ui grid stackable">
          <div class="sixteen wide column right aligned">
            <div class="ui button basic blue icon downloadPDF halfWidth"><i class="file pdf icon"></i></div>
            <div class="ui button triggerEditableOptions halfWidth ml-3" *ngIf="!isEventEdit" (click)="editEventManager()">
              Edit
            </div>
            <div class="ui button hasModal ml-3" (click)="this.saveAndInvite.emit(true)" *ngIf="isEventEdit">Save &amp; Invite
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
