<div class="ui container">
  <div class="ui grid">
    <div class="eleven wide column middle aligned" *ngIf="data.commonData">
      <div class="eventInfo"><b>{{data.commonData.title}}</b> for <p>{{data.commonData.clientCompanyName}}</p>
        {{data.commonData.eventStartDate | date:'dd-MMMM-YYYY'}}</div>
    </div>
    <div class="sixteen wide column maxWidth">
      <app-event-panel-nav [active]="active" [navChange]="onNavChange.bind(this)" [eventToBeSaved]="eventToBeSaved">
        <ng-container client *ngIf="data.eventData && data.eventData.client && !data.eventData.venues">
          <app-event-client-function [eventData]="data" [selectedCompany]="clientCompany"
            (removeSelectedCompany)="unsetClientCompany()" [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)" (editClient)="isClientEditable = $event">
            <ng-container assignFunctionCmp>
              <app-event-assign-function-cmp [clientCmpBtnLabel]="'Add Client'" [contactListLabel]="'Client Contacts'"
                [eventData]="data" [selectedCompany]="clientCompany" [clientCompanyModal]="searchInviteCmpModal"
                [contactModal]="searchInviteFnCmpCntModal" (modalOpen)="setOpenedModalRef($event)"
                (contactRemove)="removeContact($event)" [contactList]="data.eventData.client.contacts"
                [isClientEditable]="isClientEditable">
              </app-event-assign-function-cmp>
            </ng-container>
          </app-event-client-function>
        </ng-container>

        <ng-container eventManager *ngIf="data.eventData && data.eventData.eventManager && !data.eventData.venues">
          <app-event-manager-function [eventData]="data" [selectedCompany]="eventMgrCmp"
            (removeSelectedCompany)="unsetEvMgrCmp()" [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)" (editManager)="isManagerEditable = $event">
            <ng-container assignFunctionCmp>
              <app-event-assign-function-cmp [eventData]="data" [clientCmpBtnLabel]="'Add Event Management Company'"
                [contactListLabel]="'Event Management Company Contacts'" [selectedCompany]="eventMgrCmp"
                [clientCompanyModal]="searchInviteCmpModal" [contactModal]="searchInviteFnCmpCntModal"
                (modalOpen)="setOpenedModalRef($event)" (contactRemove)="removeContact($event)"
                [contactList]="data.eventData.eventManager.contacts"
                [isManagerEditable]="isManagerEditable"></app-event-assign-function-cmp>
            </ng-container>
          </app-event-manager-function>
        </ng-container>

        <ng-container venues *ngIf="data.eventData && data.eventData.venues && data.eventData.venues.length">
          <app-event-venue-function #venueFn [eventData]="data" [selectedCompanies]="venueCompanies"
            (removeSelectedCompany)="unsetVenueCmp($event)" [eventToBeSaved]="eventToBeSaved"
            (saveAndInvite)="saveToDb($event)" [searchInviteCmpModal]="searchInviteCmpModal"
            [searchInviteFnCmpCntModal]="searchInviteFnCmpCntModal" [setOpenedModalRef]="setOpenedModalRef.bind(this)"
            [removeContact]="removeContact.bind(this)">
          </app-event-venue-function>
        </ng-container>
        <ng-container suppliers
          *ngIf="data.eventData && data.eventData.venues && data.eventData.venues.length && data.eventData.venues[0].services">
          <app-event-suppliers-function #suppliersFn [eventData]="data" [venueCompanies]="venueCompanies"
            [eventToBeSaved]="eventToBeSaved" (saveAndInvite)="saveToDb($event)"
            [searchInviteCmpModal]="searchInviteCmpModal" [searchInviteFnCmpCntModal]="searchInviteFnCmpCntModal"
            [setOpenedModalRef]="setOpenedModalRef.bind(this)">
          </app-event-suppliers-function>
        </ng-container>
        <ng-container exhibitors *ngIf="data.eventData && data.eventData.venues && data.eventData.venues.length && data.eventData.venues[0].exhibitorData">
          <app-event-exhibitors-function #exhibitorsFn [eventData]="data" [venueCompanies]="venueCompanies"
            [eventToBeSaved]="eventToBeSaved" (saveAndInvite)="saveToDb($event)"
            [searchInviteCmpModal]="searchInviteCmpModal" [searchInviteFnCmpCntModal]="searchInviteFnCmpCntModal"
            [setOpenedModalRef]="setOpenedModalRef.bind(this)">
          </app-event-exhibitors-function>
        </ng-container>
        <ng-container eventFiles *ngIf="data.eventData && data.eventData.eventId">
          <app-event-files-function [eventID]="data.eventData.eventId"></app-event-files-function>
        </ng-container>
        <ng-container timeline *ngIf="data.eventData && data.eventData.eventId">
          <app-event-timeline-function [eventId]="data.eventData.eventId"></app-event-timeline-function>
        </ng-container>
      </app-event-panel-nav>
    </div>
  </div>


  <ng-template #searchInviteCmpModal let-modal>
    <app-search-or-invite-function-cmp (existingCompanySelected)="setSelectedCompany($event)"
      (newCompanyInvited)="setSelectedCompany($event)" (closed)="searchInviteCompanyClosed()">
    </app-search-or-invite-function-cmp>
  </ng-template>

  <ng-template #searchInviteFnCmpCntModal let-modal>
    <app-search-or-invite-fn-cmp-cnt (closed)="searchInviteContactModalClosed()" [companyId]="getCompanyId()"
      (addedContactList)="setSelectedFnCompanyContacts($event)" [alreadyInContactList]="getFnContactList()">
    </app-search-or-invite-fn-cmp-cnt>
  </ng-template>


</div>