<div class="ui middle aligned center aligned grid minheight100vh">
  <div class="column minContainer">
    <h2 class="segmentTitle">
      Reset Your Password
    </h2>
    <p class="marginB20">Enter your email/username to receive instructions to reset your password</p>
    <form class="ui form" [formGroup]="forgotPasswordForm">
      <div class="field">
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <input type="email" name="email" placeholder="E-mail address" formControlName="email">
        </div>
        <span
          *ngIf="forgotPasswordForm!.get('email')?.touched
          && (
          forgotPasswordForm!.get('email')?.errors?.required ||
          forgotPasswordForm!.get('email')?.errors?.email
          )"
          class="text-danger"
        >Please provide a valid email address</span>
      </div>
      <div class="field">
        <a (click)="checkValidity() && sendResetPassLink($event)" class="ui fluid button">Send reset instructions</a>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>


</div>
