<form class="ui form">
  <div class="ui stacked">
    <div class="ui grid">
      <div class="sixteen wide column text-center">
        <p>To complete your profile, you need to be associated with a company.</p>
        <p class="limitWidth">Good news! A company profile already exists for a company with your email domain. You can
          claim it below.</p>
      </div>
    </div>
    <div class="marginB20"></div>
    <div class="kcpCardContainer">
      <div class="ui  grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="content left aligned">
              <img class="right floated mini ui image" src="assets/img/elliot.jpg">
              <div class="header">
                Company Name
              </div>
              <div class="meta">
                <a href="https://goo.gl/maps/n4DPECjGtgno53FL9" target="_blank"><i
                  class="map marker alternate icon"></i>Sydney</a><span>|</span><i class="phone icon"></i>9876 5432
              </div>
              <div class="description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </div>
            </div>
            <div class="extra content">
              <div class="ui grid">
                <div class="sixteen wide column text-center">
                  <div class="ui button">Claim</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid stackable">
      <div class="eleven wide column left aligned">
        <p class="marginB20 limitWidth">If this is not the company you wish to associate with you can search for an
          alternative or create a new company.</p>
      </div>
      <div class="five wide column marginB10 middle aligned right aligned paddingB0 mobileCenterAligned">
        <a routerLink="/c-kcp-b" class="ui basic button small blue">Search/create</a>
      </div>
      <div class="sixteen wide column paddingT0 paddingB0">
        <div class="ui divider"></div>
      </div>
      <div class="sixteen wide column left aligned">
        <p class="smallText">An associated company acts as an account holder for your profile. Your profile can be
          associated with multiple companies, but each personal profile must always be associated with at least one
          company.</p>
        <p class="smallText">This is because events are "owned" by companies not individuals and access to events is
          controlled through company permissions.</p>
      </div>
    </div>
  </div>
</form>
