$secondary: #3F4A59;

.timelineNavigator {
  .button {
    margin-bottom: 0.5rem!important;
  }
}

.vis-top .vis-time-axis .vis-text.vis-major {
  padding: 0.75em 0.5em;
  text-align: center;
}

.vis-top .vis-time-axis .vis-text.vis-minor {
  border-top: solid 1px #bfbfbf;
  padding: 0.75em 0.5em;
}

.vis-bottom .vis-time-axis .vis-text.vis-major {
  padding: 0.75em 0.5em;
  text-align: center;
}

.vis-bottom .vis-time-axis .vis-text.vis-minor {
  border-bottom: solid 1px #bfbfbf;
  padding: 0.75em 0.5em;
}

#timelineContainer {
  .vis-range {
    border-color: #bfbfbf;

    .vis-item {}

    .vis-item-content {
      text-align: center;
      background-color: #fff;
      color: $secondary;
      width: 100%;
    }
  }

  .vis-tooltip {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    padding: 1.25rem 1.5rem;
    border-radius: none;
    border: none!important;

    p {
      margin-bottom: 0.75rem;
    }

    small {
      border-top: solid 1px rgba(0, 0, 0, 0.43);
      display: block;
      padding-top: 5px;
    }
  }

  .vis-background {
    .bumpIn {
      background-color: rgba(212,212,232,.2);
    }

    .eventTimes {
      background-color: rgba(212,212,232,.4);
    }

    .bumpOut {
      background-color: rgba(212,212,232,.2);
    }
  }

  .vis-foreground .vis-group {
    border-bottom: none;
  }

  .vis-itemset .vis-foreground {
    margin-top: 30px;
  }

  .vis-item.vis-background .vis-item-content {
    font-size: 13px;
    color: $secondary;
    padding-top: 0;
  }
}
