<div class="addTaskModal" >
    <div class="row" >
        <div class="col-md-12 mb-3" >
            <p> 
                Owned by: functionRole, companyName  
                <a href="javaScript:void()" (click)="dismiss()" > <i class="close icon" ></i> </a>
            </p>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-7" >
            <div class="form-group" >
                <label>Title</label>
                <input type="text" placeholder="" class="form-control" >
            </div>
            <div class="form-group" >
                <label>Description</label>
                <textarea type="text" placeholder="" class="form-control" > </textarea>
            </div>
            <div class="form-group" >
                <label>Due Date</label>
                <div class="ui grid">
                    <div class="six wide column">
                        <input type="text" placeholder="" class="form-control" > 
                    </div>
                    <div class="ten wide column">
                        <a class="ui button basic circular compact mini trashIconOuter"><i class="m-0 trash alternate icon"></i></a>
                    </div>
                </div>
                
            </div>
            

            <div class="ui grid">
                <div class="seven wide column">
                    <div class="ui checkbox" >
                        <input type="checkbox" class="hidden" tabindex="0" >
                        <label>Completed</label>
                    </div>
                </div>
                <div class="nine wide column right aligned">
                  <!-- only editable when have all permission or restricted permission to client  -->
                  <div class="ui circular compact mini basic button confirmRemove hasModal" >
                    <i class="trash alternate icon"></i>Remove
                  </div>

                  <button class="ui button ml-2" > Save </button>

                </div>
              </div>

        </div>
        <div class="col-md-5" >
            <div class="form-group" >
                <label class="w-100" > &nbsp; </label>
                <button class="ui button" > Assigned to </button>
                <p class="mt-3 mb-2" >functionRole, companyName</p>
                <p>functionRole, companyName</p>
            </div>
        </div>
    </div>
</div>