<div class="ui segment">
  <div class="sixteen wide column">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Client/Event Manager Shared Files
              <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i></h3>
          </div>
          <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient || permissionObj.isEventManager" > -->
          <div class="six wide column right aligned"  *ngIf="eventFiles?.data?.files?.CEMSF?.isViewPermission == 1" >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.CLIENT_EVENT_MANAGER_SHARED_FILES)">
              <i class="upload icon">
              </i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div  *ngIf="permissionObj.isClient || permissionObj.isEventManager; else no_access"   class="ui grid docsContainer"> -->
      <div  *ngIf="eventFiles?.data?.files?.CEMSF?.isViewPermission == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.CEMSF">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.CEMSF!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Client Internal Files <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i></h3>

          </div>
          <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient"  > -->
            <!-- only client can view -->
          <div class="six wide column right aligned"  *ngIf="eventFiles?.data?.files?.CIF?.isViewPermission == 1 && eventFiles?.data?.files?.CIF?.isSelfIncludedInSection == 1"  >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.CLIENT_INTERNAL_FILES)"><i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div  *ngIf="permissionObj.isClient; else no_access"   class="ui grid docsContainer"> -->
      <div  *ngIf="eventFiles?.data?.files?.CIF?.isViewPermission == 1 && eventFiles?.data?.files?.CIF?.isSelfIncludedInSection == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.CIF">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.CIF!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Event Management Internal Files <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i></h3>
          </div>

          <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isEventManager" > -->
          <div class="six wide column right aligned"  *ngIf="eventFiles?.data?.files?.EMIF?.isViewPermission == 1 && eventFiles?.data?.files?.EMIF?.isSelfIncludedInSection == 1" >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.EVENT_MANAGEMENT_INTERNAL_FILES)"><i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div  *ngIf="permissionObj.isEventManager; else no_access"   class="ui grid docsContainer"> -->
      <div  *ngIf="eventFiles?.data?.files?.EMIF?.isViewPermission == 1 && eventFiles?.data?.files?.EMIF?.isSelfIncludedInSection == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.EMIF">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.EMIF!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Event Files <i class="globe icon"></i></h3>
          </div>
          <!-- <div class="six wide column right aligned"> -->
          <div class="six wide column right aligned"    *ngIf="eventFiles?.data?.files?.EF?.isViewPermission == 1" >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.EVENT_FILES)"><i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="ui grid docsContainer"> -->
      <div class="ui grid docsContainer"   *ngIf="eventFiles?.data?.files?.EF?.isViewPermission == 1; else no_access" >
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.EF">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.EF!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>

  <div class="sixteen wide column" *ngIf="showVenuesFilesSection()" >
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Files for All Venues <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
              class="map marker alternate icon"></i></h3>
          </div>
          <!-- <div class="six wide column right aligned"   *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isVenue"  > -->
          <div class="six wide column right aligned"   *ngIf="eventFiles?.data?.files?.FFAV?.isViewPermission == 1"  >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.FILES_FOR_ALL_VENUES)"><i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div   *ngIf="permissionObj.isCrew || permissionObj.isClient || permissionObj.isEventManager || permissionObj.isVenue; else no_access"   class="ui grid docsContainer"> -->
      <div   *ngIf="eventFiles?.data?.files?.FFAV?.isViewPermission == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.FFAV">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.FFAV!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>

  </div>
  <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">
      <ngb-accordion
      *ngIf="eventFiles?.data?.files?.FFAV?.venuesFiles && eventFiles?.data?.files?.FFAV?.venuesFiles!.length>0">


      <ngb-panel [id]="'venueId_' + venueFileItem.venueId"
                 *ngFor="let venueFileItem of eventFiles!.data!.files!.FFAV!.venuesFiles!; let i=index">
        <ng-template ngbPanelTitle>
          <i class="dropdown icon"></i>Venue {{i+1}}: {{venueFileItem.name}}
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="content active">

            <div class="ui grid stackable visible" style="display: flex !important;">
              <div class="sixteen wide column">
                <div class="field">
                  <div class="ui dividing header">
                    <div class="ui grid">
                      <div class="ten wide column middle aligned">
                        <h3>Floorplan <i class="globe icon"></i></h3>
                      </div>
                      <div class="six wide column right aligned"   *ngIf="venueFileItem?.isViewPermission==1" >
                        <div class="ui button compact mini basic circular addDocuments hasModal"
                             (click)="contentUpload(uploadFilesModal, fileType.VENUE_FLOOR_PLAN,{venueId:venueFileItem.venueId},i)">
                          <i class="upload icon"></i>Upload
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui grid docsContainer"   *ngIf="venueFileItem?.isViewPermission==1; else no_access" >
                    <div class="sixteen wide column">
                      <ng-container *ngIf="venueFileItem.FLOOR_PLAN">
                        <a class="ui mini button basic"
                           *ngFor="let listItem of venueFileItem.FLOOR_PLAN.list"
                           [href]="listItem.fileUrl"
                           target="_blank">
                          <i class="file icon"></i>{{listItem.displayName}}
                        </a>
                      </ng-container>
                    </div>
                  </div>
                  <ng-template #no_access>No access</ng-template>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <div class="ui dividing header">
                    <div class="ui grid">
                      <div class="ten wide column middle aligned">
                        <h3>Venue Shared Files <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                          class="building icon"></i></h3>
                      </div>
                      <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient || permissionObj.isEventManager || (permissionObj.isVenue  && venueFileItem?.isViewPermission==1)" > -->
                    <div class="six wide column right aligned"  *ngIf="venueFileItem?.isViewPermission==1" >
                        <div class="ui button compact mini basic circular addDocuments hasModal"
                             (click)="contentUpload(uploadFilesModal, fileType.VENUE_SHARED_FILES, {venueId:venueFileItem.venueId},i)">
                          <i class="upload icon"></i>Upload
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div  *ngIf="permissionObj.isClient || permissionObj.isEventManager || ((permissionObj.isVenue || permissionObj.isCrew) && venueFileItem?.isViewPermission==1); else no_access"  class="ui grid docsContainer"> -->
                <div  *ngIf="venueFileItem?.isViewPermission==1; else no_access"  class="ui grid docsContainer">
                    <div class="sixteen wide column">
                      <ng-container *ngIf="venueFileItem.VSF">
                        <a class="ui mini button basic"
                           *ngFor="let listItem of venueFileItem!.VSF!.list"
                           [href]="listItem.fileUrl"
                           target="_blank">
                          <i class="file icon"></i>{{listItem.displayName}}
                        </a>
                      </ng-container>
                    </div>
                  </div>
                  <ng-template #no_access>No access</ng-template>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <div class="ui dividing header">
                    <div class="ui grid">
                      <div class="ten wide column middle aligned">
                        <h3>Venue Internal Files <i class="building icon"></i></h3>
                      </div>
                      <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isVenue && venueFileItem?.isViewPermission == 1"  > -->
                      <div class="six wide column right aligned"  *ngIf="venueFileItem?.isViewPermission==1 && venueFileItem?.isSelfIncludedInSection==1"  >
                        <div class="ui button compact mini basic circular addDocuments hasModal"
                             (click)="contentUpload(uploadFilesModal, fileType.VENUE_INTERNAL_FILES, {venueId:venueFileItem.venueId},i)">
                          <i class="upload icon"></i>Upload
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div  *ngIf="(permissionObj.isCrew || permissionObj.isVenue ) && venueFileItem?.isViewPermission == 1; else no_access"   class="ui grid docsContainer"> -->
                  <div  *ngIf="venueFileItem?.isViewPermission==1 && venueFileItem?.isSelfIncludedInSection==1; else no_access"   class="ui grid docsContainer">
                    <div class="sixteen wide column">
                      <ng-container *ngIf="venueFileItem.VIF">
                        <a class="ui mini button basic"
                           *ngFor="let listItem of venueFileItem!.VIF!.list"
                           [href]="listItem.fileUrl"
                           target="_blank">
                          <i class="file icon"></i>{{listItem.displayName}}
                        </a>
                      </ng-container>
                    </div>
                  </div>
                  <ng-template #no_access>No access</ng-template>
                </div>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
  <div class="ui grid docsContainer">
    <div class="sixteen wide column"></div>
  </div>
  <div class="sixteen wide column" *ngIf="showSuppliersFilesSection()">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Files for All Suppliers <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i class="truck icon"></i>
            </h3>
          </div>
          <!-- <div class="six wide column right aligned"   *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isService"  > -->
          <div class="six wide column right aligned"    *ngIf="eventFiles?.data?.files?.FFAS?.isViewPermission == 1" >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.FILES_FOR_ALL_SUPPLIERS)">
              <i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div   *ngIf="permissionObj.isCrew || permissionObj.isClient || permissionObj.isEventManager || permissionObj.isService; else no_access"   class="ui grid docsContainer"> -->
    <div   *ngIf="eventFiles?.data?.files?.FFAS?.isViewPermission == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.FFAS">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.FFAS!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>
  <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">
      <ngb-accordion
      *ngIf="eventFiles?.data?.files?.FFAS?.supplierFiles && eventFiles?.data?.files?.FFAS?.supplierFiles!.length>0">


      <ngb-panel [id]="'serviceId_' + supplierItem.serviceId"
                 *ngFor="let supplierItem of eventFiles!.data!.files!.FFAS!.supplierFiles!; let i =index">
        <ng-template ngbPanelTitle>
          <i class="dropdown icon"></i>Supplier {{i+1}}: {{supplierItem.name}}
        </ng-template>
        <ng-template ngbPanelContent>

          <div class="content active">
            <form class="ui form visible" style="display: block !important;">
              <div class="ui grid stackable">
                <div class="eight wide column">
                  <div class="field">
                    <div class="ui dividing header">
                      <div class="ui grid">
                        <div class="ten wide column middle aligned">
                          <h3>Supplier Shared Files <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                            class="building icon"></i></h3>
                        </div>
                        <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient || permissionObj.isEventManager || (permissionObj.isService && supplierItem?.isViewPermission==1)"> -->
                      <div class="six wide column right aligned"  *ngIf="supplierItem?.isViewPermission==1">
                          <div class="ui button compact mini basic circular addDocuments hasModal"
                               (click)="contentUpload(uploadFilesModal, fileType.SUPPLIER_SHARED_FILES, {serviceId: supplierItem.serviceId},i)">
                            <i class="upload icon"></i>Upload
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div  *ngIf="permissionObj.isClient || permissionObj.isEventManager || (permissionObj.isService && supplierItem?.isViewPermission==1) || (supplierItem?.isViewPermission==1 && permissionObj.isCrew ) ; else no_access"  class="ui grid docsContainer"> -->
                  <div  *ngIf="supplierItem?.isViewPermission==1; else no_access"  class="ui grid docsContainer">
                      <div class="sixteen wide column">
                        <ng-container *ngIf="supplierItem?.SSF">
                          <a class="ui mini button basic"
                             *ngFor="let listItem of supplierItem!.SSF!.list"
                             [href]="listItem.fileUrl"
                             target="_blank">
                            <i class="file icon"></i>{{listItem.displayName}}
                          </a>
                        </ng-container>
                      </div>
                    </div>
                    <ng-template #no_access>No access</ng-template>
                  </div>
                </div>
                <div class="eight wide column">
                  <div class="field">
                    <div class="ui dividing header">
                      <div class="ui grid">
                        <div class="ten wide column middle aligned">
                          <h3>Supplier Internal Files <i class="building icon"></i></h3>
                        </div>
                        <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isService && supplierItem?.isViewPermission == 1" > -->
                      <div class="six wide column right aligned"  *ngIf="supplierItem?.isViewPermission == 1 && supplierItem?.isSelfIncludedInSection == 1" >
                          <div class="ui button compact mini basic circular addDocuments hasModal"
                               (click)="contentUpload(uploadFilesModal, fileType.SUPPLIER_INTERNAL_FILES,{serviceId:supplierItem.serviceId},i)">
                            <i class="upload icon"></i>Upload
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div  *ngIf="(permissionObj.isCrew && supplierItem?.isViewPermission ) || (permissionObj.isService && supplierItem?.isViewPermission == 1); else no_access"   class="ui grid docsContainer"> -->
                  <div  *ngIf="supplierItem?.isViewPermission == 1 && supplierItem?.isSelfIncludedInSection == 1; else no_access"   class="ui grid docsContainer">
                      <div class="sixteen wide column">
                        <ng-container *ngIf="supplierItem?.SIF">
                          <a class="ui mini button basic"
                             *ngFor="let listItem of supplierItem!.SIF!.list"
                             [href]="listItem.fileUrl"
                             target="_blank">
                            <i class="file icon"></i>{{listItem.displayName}}
                          </a>
                        </ng-container>

                      </div>
                    </div>
                    <ng-template #no_access>No access</ng-template>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>


  <div class="ui grid docsContainer">
    <div class="sixteen wide column"></div>
  </div>
  <div class="sixteen wide column" *ngIf="showExhibitorsFilesSection()">
    <div class="field">
      <div class="ui dividing header">
        <div class="ui grid">
          <div class="ten wide column middle aligned">
            <h3>Files for All Exhibitors <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i class="exhibitor icon"></i>
            </h3>
          </div>
          <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isExhibitor"  > -->
          <div class="six wide column right aligned"  *ngIf="eventFiles?.data?.files?.FFAE?.isViewPermission == 1"  >
            <div class="ui button compact mini basic circular addDocuments hasModal"
                 (click)="contentUpload(uploadFilesModal, fileType.FILES_FOR_ALL_EXHIBITORS)"><i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
      </div>
      <!-- <div   *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isExhibitor; else no_access"   class="ui grid docsContainer"> -->
      <div   *ngIf="eventFiles?.data?.files?.FFAE?.isViewPermission == 1; else no_access"   class="ui grid docsContainer">
        <div class="sixteen wide column">
          <ng-container *ngIf="eventFiles?.data?.files?.FFAE">
            <a class="ui mini button basic"
               *ngFor="let listItem of eventFiles!.data!.files!.FFAE!.list"
               [href]="listItem.fileUrl"
               target="_blank">
              <i class="file icon"></i>{{listItem.displayName}}
            </a>
          </ng-container>
        </div>
      </div>
      <ng-template #no_access>No access</ng-template>
    </div>
  </div>
  <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">
      <ngb-accordion
      *ngIf="eventFiles?.data?.files?.FFAE?.exhibitorFiles && eventFiles?.data?.files?.FFAE?.exhibitorFiles!.length>0">


      <ngb-panel [id]="'exhibitorId_' + exhibitorFileItem.exhibitorId"
                 *ngFor="let exhibitorFileItem of eventFiles!.data!.files!.FFAE!.exhibitorFiles!; let i=index">
        <ng-template ngbPanelTitle>
          <i class="dropdown icon"></i>Exhibitor {{i+1}}: {{exhibitorFileItem.name}}
        </ng-template>
        <ng-template ngbPanelContent>

          <div class="content active">
            <form class="ui form visible" style="display: block !important;">
              <div class="ui grid stackable">
                <div class="eight wide column">
                  <div class="field">
                    <div class="ui dividing header">
                      <div class="ui grid">
                        <div class="ten wide column middle aligned">
                          <h3>Exhibitor Shared Files <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                            class="building icon"></i></h3>
                        </div>
                        <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isClient || permissionObj.isEventManager || (permissionObj.isExhibitor && exhibitorFileItem?.isViewPermission==1)" > -->
                      <div class="six wide column right aligned"  *ngIf="exhibitorFileItem?.isViewPermission==1" >
                          <div class="ui button compact mini basic circular addDocuments hasModal"
                               (click)="contentUpload(uploadFilesModal, fileType.EXHIBITOR_SHARED_FILES,{exhibitorId:exhibitorFileItem.exhibitorId},i)">
                            <i class="upload icon"></i>Upload
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div  *ngIf="permissionObj.isClient || permissionObj.isEventManager || ((permissionObj.isExhibitor || permissionObj.isCrew) && exhibitorFileItem?.isViewPermission==1); else no_access"   class="ui grid docsContainer"> -->
                    <div  *ngIf="exhibitorFileItem?.isViewPermission==1; else no_access"   class="ui grid docsContainer">
                      <div class="sixteen wide column">
                        <ng-container *ngIf="exhibitorFileItem?.EBSF">
                          <a class="ui mini button basic"
                             *ngFor="let listItem of exhibitorFileItem!.EBSF!.list"
                             [href]="listItem.fileUrl"
                             target="_blank">
                            <i class="file icon"></i>{{listItem.displayName}}
                          </a>
                        </ng-container>
                      </div>
                    </div>
                    <ng-template #no_access>No access</ng-template>
                  </div>
                </div>
                <div class="eight wide column">
                  <div class="field">
                    <div class="ui dividing header">
                      <div class="ui grid">
                        <div class="ten wide column middle aligned">
                          <h3>Exhibitor Internal Files <i class="building icon"></i></h3>
                        </div>
                        <!-- <div class="six wide column right aligned"  *ngIf="permissionObj.isExhibitor && exhibitorFileItem?.isViewPermission==1"  > -->
                        <div class="six wide column right aligned"  *ngIf="exhibitorFileItem?.isViewPermission==1 && exhibitorFileItem?.isSelfIncludedInSection==1"  >
                          <div class="ui button compact mini basic circular addDocuments hasModal"
                               (click)="contentUpload(uploadFilesModal, fileType.EXHIBITOR_INTERNAL_FILES, {exhibitorId:exhibitorFileItem.exhibitorId},i)">
                            <i class="upload icon"></i>Upload
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div  *ngIf="(permissionObj.isCrew || permissionObj.isExhibitor) && exhibitorFileItem?.isViewPermission==1; else no_access"   class="ui grid docsContainer"> -->
                <div  *ngIf="exhibitorFileItem?.isViewPermission==1 && exhibitorFileItem?.isSelfIncludedInSection==1; else no_access"   class="ui grid docsContainer">
                      <div class="sixteen wide column">
                        <ng-container *ngIf="exhibitorFileItem?.EBIF">
                          <a class="ui mini button basic"
                             *ngFor="let listItem of exhibitorFileItem!.EBIF!.list"
                             [href]="listItem.fileUrl"
                             target="_blank">
                            <i class="file icon"></i>{{listItem.displayName}}
                          </a>
                        </ng-container>

                      </div>
                    </div>
                    <ng-template #no_access>No access</ng-template>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>

  <div class="sixteen wide column mb-4" >
    <a href="https://konnectevents.freshdesk.com/support/solutions/articles/51000289466-how-to-use-files-tab" target="_blank" class="btn btn-warning warningThemeBtn" > <i class="icon info"></i> How to use this page </a>
  </div>

</div>

<ng-template #uploadFilesModal let-modal>
  <app-event-files-upload-modal
    [existingFiles]="existingFiles"
    [eventFileType]="uploadingFileType"
    [eventFileSignedURLReq]="eventFilesSignedURLReqPayload"
    (closed)="closeFileUploadModal(modal)"></app-event-files-upload-modal>
</ng-template>
