<div class="assignToModal">
    <div class="row">
        <div class="col-md-12 mb-3">

            <p>
                <strong>Assigned To</strong>
                <a href="javaScript:void()" (click)="dismiss()"> <i class="close icon"></i> </a>
            </p>
        </div>
    </div>
    <div class="row" *ngIf="data && data.client">
        <div class="col-md-12">

            <ul class="assignToCheckBox">
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="1" class="hidden" tabindex="0" [(ngModel)]="clientChecked" [value]="clientChecked" (change)="onClientChange($event)">
                        <label for="1">{{data.client.companyName}}</label>
                    </div>
                </li>
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="2" class="hidden" tabindex="0" [(ngModel)]="evManagerChecked" [value]="evManagerChecked" (change)="onEvManagerChange($event)">
                        <label for="2">{{data.eventManager.companyName}}</label>
                    </div>
                </li>
                <li *ngIf="data.venues && data.venues.length">
                    <div class="ui checkbox">
                        <input type="checkbox" id="3" class="hidden" tabindex="0" [(ngModel)]="allVenues" [value]="allVenues" (change)="onAllVenuesChange($event)">
                        <label for="3">All Venues</label>
                    </div>
                    <ul class="assignToCheckBox">
                        <li *ngFor="let venue of venues;let venueIndex=index;">
                            <div class="ui checkbox">
                                <input type="checkbox" id="3-{{venueIndex}}" class="hidden" tabindex="0"  [(ngModel)]="venue.isChecked" [value]="venue?.isChecked" [checked]="venue?.isChecked == 1" (change)="onVenueChange($event, venue.id)">
                                <label for="3-{{venueIndex}}">{{venue.companyName}}</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="data.services && data.services.length">
                    <div class="ui checkbox">
                        <input type="checkbox" id="4" class="hidden" tabindex="0" [(ngModel)]="allSuppliers" [value]="allSuppliers" (change)="onAllSuppliersChange($event)">
                        <label for="4">All Suppliers</label>
                    </div>
                    <ul class="assignToCheckBox">
                        <li *ngFor="let supplier of services;let supplierIndex=index;">
                            <div class="ui checkbox">
                                <input type="checkbox" id="4-{{supplierIndex}}" class="hidden" tabindex="0" [(ngModel)]="supplier.isChecked" [value]="supplier?.isChecked" [checked]="supplier?.isChecked == 1" (change)="onSupplierChange($event, supplier.id)">
                                <label for="4-{{supplierIndex}}">{{supplier.companyName}}</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="data.exhibitors && data.exhibitors.length">
                    <div class="ui checkbox">
                        <input type="checkbox" id="5" class="hidden" tabindex="0" [(ngModel)]="allExhibitors" [value]="allExhibitors" (change)="onAllExhibitorsChange($event)">
                        <label for="5">All Exhibitors</label>
                    </div>
                    <ul class="assignToCheckBox">
                        <li *ngFor="let exhibitor of exhibitors;let exhibitorIndex=index;">
                            <div class="ui checkbox">
                                <input type="checkbox" id="5-{{exhibitorIndex}}" class="hidden" tabindex="0" [(ngModel)]="exhibitor.isChecked" [value]="exhibitor?.isChecked" [checked]="exhibitor?.isChecked == 1" (change)="onExhibitorChange($event, exhibitor.id)">
                                <label for="5-{{exhibitorIndex}}">{{exhibitor.companyName}}</label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>


            <div class="twelve wide column" style="display: flex; justify-content: flex-end;">

                <button class="ui button ml-2" (click)="assign()"> Save </button>

            </div>

        </div>
    </div>
</div>