<div class="assignToModal">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p>
                <strong>Assigned To</strong>
                <a href="javaScript:void()" (click)="dismiss()"> <i class="close icon"></i> </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="checkbox" placeholder="" class="form-control">
                <label>Event Manager</label>
            </div>


                <div class="twelve wide column" style="display: flex; justify-content: flex-end;">

                    <button class="ui button ml-2"> Save </button>

                </div>

        </div>
    </div>
</div>