<div class="assignToModal">
    <div class="row">
        <div class="col-md-12 mb-3">
          
            <p>
                <strong>Assigned To</strong>
                <a href="javaScript:void()" (click)="dismiss()"> <i class="close icon"></i> </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <ul class="assignToCheckBox" >
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="1" class="hidden" tabindex="0">
                        <label for="1" >Client</label>
                    </div>
                </li>
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="2" class="hidden" tabindex="0">
                        <label for="2" >Event Manager</label>
                    </div>
                </li>
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="3" class="hidden" tabindex="0">
                        <label for="3" >All Venues</label>
                    </div>
                    <ul class="assignToCheckBox" >
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="3-1" class="hidden" tabindex="0">
                                <label for="3-1" >Venue 1</label>
                            </div>
                        </li>
        
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="3-2" class="hidden" tabindex="0">
                                <label for="3-2" >Venue 2</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="3-3" class="hidden" tabindex="0">
                                <label for="3-3" >Venue 3</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="3-4" class="hidden" tabindex="0">
                                <label for="3-4" >Venue 4</label>
                            </div>
                        </li>
        
                    </ul>
                </li>
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="4" class="hidden" tabindex="0">
                        <label for="4" >All Suppliers</label>
                    </div>
                    <ul class="assignToCheckBox" >
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="4-1" class="hidden" tabindex="0">
                                <label for="4-1" >Supplier 1</label>
                            </div>
                        </li>
        
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="4-2" class="hidden" tabindex="0">
                                <label for="4-2" >Supplier 2</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="4-3" class="hidden" tabindex="0">
                                <label for="4-3" >Supplier 3</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="4-4" class="hidden" tabindex="0">
                                <label for="4-4" >Supplier 4</label>
                            </div>
                        </li>
        
                    </ul>
                </li>
                <li>
                    <div class="ui checkbox">
                        <input type="checkbox" id="5" class="hidden" tabindex="0">
                        <label for="5" >All Exhibitors</label>
                    </div>
                    <ul class="assignToCheckBox" >
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="5-1" class="hidden" tabindex="0">
                                <label for="5-1" >Exhibitor 1</label>
                            </div>
                        </li>
        
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="5-2" class="hidden" tabindex="0">
                                <label for="5-2" >Exhibitor 2</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="5-3" class="hidden" tabindex="0">
                                <label for="5-3" >Exhibitor 3</label>
                            </div>
                        </li>
                        <li>
                            <div class="ui checkbox">
                                <input type="checkbox" id="5-4" class="hidden" tabindex="0">
                                <label for="5-4" >Exhibitor 4</label>
                            </div>
                        </li>
        
                    </ul>
                </li>
            </ul>


                <div class="twelve wide column" style="display: flex; justify-content: flex-end;">

                    <button class="ui button ml-2"> Save </button>

                </div>

        </div>
    </div>
</div>