<div *ngIf="eventToBeSaved.venues &&
eventToBeSaved.venues.list &&
eventToBeSaved.venues.list.length>0; else noVenues" class="ui segment">
  <ul ngbNav #venueNav="ngbNav" [activeId]="eventService?.activeServicePanel?.venueIndex || 0"
    class="nav-tabs supplierInnerCont" [destroyOnHide]="false">
    <li ngbNavItem [ngbNavItem]="venueIndex" *ngFor="let venue of eventToBeSaved.venues.list; let venueIndex=index">
      <a ngbNavLink><i class="map marker alternate icon"></i>
        <span class="hideMobile">
        {{venueCompanies && venueCompanies.length>0 && venueCompanies[venueIndex]?
        venueCompanies[venueIndex]!.companyName+', '+venueCompanies[venueIndex]!.city:'Venue-'+(venueIndex + 1)}}</span></a>
      <ng-template ngbNavContent>
        <form class="ui form">
          <div class="ui grid stackable">
            <div class="sixteen wide column">
              <div class="companyContainer marginB20">
                <div class="ui dividing header">
                  <h3>Notes to All Suppliers <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                      class="truck icon"></i></h3>
                </div>
                <div class="field"
                  *ngIf="permissionObj.isClient || permissionObj.isEventManager ||  permissionObj.isService; else no_access">
                  <textarea rows="3" class="textarea" *ngIf="venue.suppliers[0] && venue.suppliers[0].services.length"
                    [(ngModel)]="venue.suppliers[0].notesToAll" [ngModelOptions]="{standalone:true}"
                    [readonly]="!isServiceEdit"></textarea>

                </div>
                <ng-template #no_access>No access</ng-template>
              </div>
            </div>
          </div>
        </form>

        <div class="ui grid">
          <div class="sixteen wide column">
            <div class="marginT10"></div>
            <!-- <div *ngIf="(isServiceEdit) || (venue.suppliers[0] && !venue.suppliers[0].services.length)" -->
            <div *ngIf="permissionObj.isClient || permissionObj.isEventManager"
              class="ui button compact addNewService addToPanel" (click)="addService(venue,venueIndex)">
              <i class="plus circle icon"></i>
              <span>Add Service</span>
            </div>

            <h3 id="servicesAnchor" class="ui dividing header">Services</h3>
          </div>
        </div>
        <div class="marginT10"></div>
        <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


          <!-- <ngb-accordion [closeOthers]="true" (panelChange)="panelChange($event)" #ngbAccordion
            [activeIds]="'serviceListIndex-'+activeServicePanel" [destroyOnHide]="false"> -->

          <ngb-accordion (panelChange)="panelChange($event)" #ngbAccordion [destroyOnHide]="false">

            <ng-container *ngIf="venue.suppliers[0] && venue.suppliers[0].services.length">
              <ngb-panel *ngFor="let service of venue.suppliers[0].services; let serviceIndex=index"
                [id]="'serviceListIndex-'+serviceIndex" (shown)="servicePanelActivated(venueIndex,serviceIndex)">
                <ng-template ngbPanelTitle>
                  <i class="dropdown icon"></i>Service {{serviceIndex + 1}}: <span>{{service?.name}}</span>



                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="content active">
                    <form class="ui form visible" style="display: block !important;">


                      <div class="ui grid stackable">


                        <div class="seven wide column">
                          <div class="companyContainer marginB20">




                            <div class="ui dividing header">
                              <h3>Service Name <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                                  class="building icon"></i></h3>
                            </div>
                            <div class="field">
                              <input
                                *ngIf="permissionObj.isClient || permissionObj.isEventManager || service?.isViewPermission == 1; else no_access"
                                [(ngModel)]="service.name" [ngModelOptions]="{standalone:true}" type="text"
                                placeholder="Name" [readonly]="!isServiceEdit">
                              <ng-template #no_access>No access
                              </ng-template>
                            </div>
                            <div class="ui dividing header">
                              <h3>Supplier Company <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                                  class="building icon"></i> 
                                  <!-- <div class="addNewService insideSelect float-right">
                                    <p *ngIf="service.status == 1 && !isServiceEdit"> <i class="ui icon circle green"></i> <b>Confirm</b> </p>
                                    <p *ngIf="service.status == 0 && !isServiceEdit"> <i class="ui icon circle orange"></i> <b>Pending</b> </p>
                                    <div class=" selection" *ngIf="isServiceEdit">
                                      <select class="form-control" [ngModelOptions]="{standalone:true}"
                                        [attr.disabled]="service.isStaffOrAdmin==1 && isServiceEdit ? null : true"
                                        (ngModelChange)="acceptDeclineService(service, $event)" [(ngModel)]="service.status">
                                        <option [ngValue]=1>Confirm</option>
                                        <option *ngIf="service.status==0" [ngValue]=0>Pending</option>
                                        <option [ngValue]=2>Decline</option>
                                      </select>
                                    </div>
                                  </div> -->
                                </h3>
                            </div>
                            <div class="kcpCardContainer"
                              *ngIf="permissionObj.isClient || permissionObj.isEventManager  ||  service?.isViewPermission==1 ; else no_access">
                              <div class="ui one column grid"
                                *ngIf="venuesSuppCmpsMap.has(venueIndex) && venuesSuppCmpsMap.get(venueIndex)!.has(serviceIndex)">
                                <div class="column">
                                  <div class="ui fluid card">
                                    <div class="content">
                                      <img class="right floated mini ui image"
                                        [src]="getCompanyProfileImage(venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex)) || 'assets/img/default_konnect_img.png'"
                                        appImageFallback fallbackImage="assets/img/default_konnect_img.png">
                                      <div class="header">
                                        <a
                                          (click)="goToCompanyProfile(getCompanyId(venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex)), getIsPrivate(venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex)))">{{venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex)!.companyName}}</a>
                                      </div>
                                      <div class="meta">
                                        <span class="m-0">
                                          <i
                                            class="map marker alternate icon"></i>{{venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex)!.city}}
                                        </span>
                                        <span>|</span>
                                        <i
                                          class="phone icon"></i>{{getCompanyPhone(venuesSuppCmpsMap.get(venueIndex)!.get(serviceIndex))
                                        || ''}}
                                      </div>
                                    </div>
                                    <div class="extra content" [ngClass]="{'editableObject':false}">
                                      <div class="ui grid">
                                        <div class="ten wide column">

                                        </div>
                                        <div class="six wide column right aligned" *ngIf="isServiceEdit">
                                          <div (click)="removeSelectedCompany(venueIndex,serviceIndex)"
                                            class="ui circular compact mini basic button confirmRemove hasModal"
                                            data-modal="removeModal"><i class="trash alternate icon"></i>Remove
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <ng-template #no_access>No
                              access</ng-template>
                          </div>
                          <app-event-assign-function-cmp #suppliersAssignCmp
                            [selectedCompany]="venuesSuppCmpsMap.get(venueIndex)?.get(serviceIndex)"
                            [clientCmpBtnLabel]="'Add Supplier'" [contactListLabel]="'Supplier Contacts'"
                            [permissionObj]="permissionObj" [isViewPermission]="service?.isViewPermission"
                            [clientCompanyModal]="searchInviteCmpModal" [contactModal]="searchInviteFnCmpCntModal"
                            (modalOpen)="setOpenedModalRef($event)" (isCrew)="setIsCrew($event)"
                            [contactList]="service.contacts?service.contacts:[]"
                            (contactRemove)="removeServiceContact(venueIndex,serviceIndex,$event)"
                            [isServiceEditable]="isServiceEditable">
                          </app-event-assign-function-cmp>

                          <app-event-assign-crew-function-cmp #suppliersCrewAssignCmp [permissionObj]="permissionObj"
                            [isViewPermission]="service?.isViewPermission"
                            [selectedCompany]="venuesSuppCmpsMap.get(venueIndex)?.get(serviceIndex)"
                            [clientCmpBtnLabel]="'Add Crew'" [contactListLabel]="'Assigned Crew'"
                            [clientCompanyModal]="searchInviteCmpModal" [contactModal]="searchInviteFnCmpCntModal"
                            (modalOpen)="setOpenedModalRef($event)" (isCrew)="setIsCrew($event)"
                            [contactList]="service.contacts?service.contacts:[]"
                            (crewRemove)="removeServiceContact(venueIndex,serviceIndex,$event)"
                            [isServiceEditable]="isServiceEditable">
                          </app-event-assign-crew-function-cmp>
                        </div>

                        <div class="nine wide column">
                          <div class="field">
                            <div class="timeWindowsContainer">
                              <div class="ui dividing header">
                                <h3>Supplier Time Windows <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                                    class="building icon"></i></h3>
                              </div>

                              <app-time-windows
                                *ngIf="permissionObj.isClient || permissionObj.isEventManager ||  service?.isViewPermission==1; else no_access"
                                [timeWindowFor]="eventTimeWindowType"
                                [venuePreEventTimes]="eventToBeSaved.venues.list[venueIndex].preEventAccessDateTimes"
                                [venueEventTimes]="eventToBeSaved.venues.list[venueIndex].eventAccessDateTimes"
                                [venuePostEventTimes]="eventToBeSaved.venues.list[venueIndex].postEventAccessDateTimes"
                                [venueIndex]="venueIndex" [windowLabels]="['Bump In', 'Event Time', 'Bump Out']"
                                [isVenueDependent]="true" [index]="serviceIndex"
                                [preEventTimes]="service.timeWindows.bumpIn.timings"
                                [postEventTimes]="service.timeWindows.bumpOut.timings"
                                [eventTimes]="service.timeWindows.eventTime.timings" [isEdit]="isServiceEdit"
                                [preEventTimesCount]="service.timeWindows.bumpIn.timings?.length || 1"
                                [eventTimesCount]="service.timeWindows.eventTime.timings?.length || 1"
                                [postEventTimesCount]="service.timeWindows.bumpOut.timings?.length || 1"
                                [preEventNotes]="service.timeWindows.bumpIn.timings[0]?.notes || ''"
                                [eventNotes]="service.timeWindows.eventTime.timings[0]?.notes || ''"
                                [postEventNotes]="service.timeWindows.bumpOut.timings[0]?.notes || ''">
                              </app-time-windows>


                              <ng-template #no_access>No access
                              </ng-template>

                            </div>
                          </div>

                          <div class="ui dividing header">
                            <h3>Service Requirements <i class="icon" > <img src="../../../../../assets/img/client-icon.png" width="15px" > </i>
                    <i class="icon" > <img src="../../../../../assets/img/event-manager-icon.png" width="15px" > </i><i
                                class="building icon"></i></h3>
                          </div>
                          <div class="field">
                            <textarea
                              *ngIf="permissionObj.isClient || permissionObj.isEventManager ||  service?.isViewPermission==1; else no_access"
                              [(ngModel)]="service.requirement" [ngModelOptions]="{standalone:true}" rows="3"
                              class="textarea" [readonly]="!isServiceEdit"></textarea>
                            <ng-template #no_access>No access
                            </ng-template>
                          </div>

                          <div class="ui dividing header">
                            <h3>Supplier Internal Notes <i class="building icon"></i></h3>
                          </div>
                          <div class="field">
                            <textarea *ngIf="service?.isViewPermission==1; else no_access" rows="3" class="textarea" [readonly]="!isServiceEdit" [(ngModel)]="service.internalCmpNotes"
                            [ngModelOptions]="{standalone:true}"></textarea>
                            <ng-template #no_access>No access
                            </ng-template>
                          </div>

                        </div>
                        <div class="sixteen wide column saveButtons paddingT0">
                          <div class="ui divider"></div>
                          <div class="ui grid stackable">
                            <div class="ten wide column middle aligned">
                              <div (click)="removeDeclineService(service?.supplierId, 0)"
                                class="ui circular compact mini basic button confirmRemove hasModal"
                                data-modal="removeModal"><i class="trash alternate icon"></i>Remove</div>
                            </div>
                            <div class="six wide column right aligned">
                              <button [disabled]="eventData.eventData.isDeleted || checkPermission(service.isViewPermission)" class="ui button triggerEditableOptions ml-3" *ngIf="!isServiceEdit"
                                (click)="editServiceFn()">Edit</button>
                              <button class="ui button hasModal ml-3" data-modal="inviteModal" [disabled]="eventData.eventData.isDeleted || checkPermission(service.isViewPermission)"
                                (click)="saveAndInvite.emit({venueIndex:venueIndex, serviceIndex:serviceIndex, shouldInvite:true})"
                                *ngIf="isServiceEdit">Save &amp; Invite
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </ngb-panel>
            </ng-container>

          </ngb-accordion>


        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="venueNav" class="mt-2 innerTabCont"></div>
</div>
<ng-template #noVenues>
  <div class="ui segment">
    <h2>Services are not present for this event</h2>
  </div>
</ng-template>