.lightText{
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.tooltip {
  background-color: #333;
  color: #fff;
}

.container {
  white-space: pre-line;
}
.triggerEditableOptions { vertical-align: top; }
.aling-right{
  text-align: right;
}