<div class="ui segment">
    <button class="alignButton ui button triggerEditableOptions ml-3 right float-right marT-m15" (click)="addTask()">Add Task </button>
    <ul ngbNav #taskNav="ngbNav" [activeId]="active" class="nav-tabs supplierInnerCont" [destroyOnHide]="false">
        <li ngbNavItem ngbNavItem="1">
            <a ngbNavLink>
                <span class="hideMobile">
                    My Company Tasks
                </span></a>
            <ng-template ngbNavContent>

                <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


                    <form class="ui form visible" style="display: block !important;">
                        <div class="ui grid stackable">

                            <div class="nine wide column">

                                <div class="field">
                                    My Company Tasks
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

            </ng-template>
        </li>
        <li ngbNavItem ngbNavItem="2">
            <a ngbNavLink>
                <span class="hideMobile">
                    Delegated Tasks
                </span></a>
            <ng-template ngbNavContent>

                <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


                    <form class="ui form visible" style="display: block !important;">
                        <div class="ui grid stackable">

                            <div class="nine wide column">

                                <div class="field">
                                    Delegated Tasks
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="taskNav" class="mt-2 innerTabCont"></div>

</div>