<div class="ui middle aligned center aligned grid minheight100vh">
  <div class="column minContainer">
    <h2 class="segmentTitle special">
      Create Konnect Profile
    </h2>
    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
      <ng-wizard-step [title]="'Personal Details'">
        <app-personal-details-tab (moveToCompanyDetailsTab)="showNextStep($event)"></app-personal-details-tab>
      </ng-wizard-step>
      <ng-wizard-step [title]="'Company Details'">
        <app-company-details-tab></app-company-details-tab>
      </ng-wizard-step>
    </ng-wizard>
  </div>
</div>
