<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{isCrew == 0 ? 'Add Contact' : 'Add Crew'}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="closed.emit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <div class="ui grid stackable">
      <div class="eleven wide column">
        <h3 class="requiredAsterisk">{{isCrew == 0 ? 'Select from company staff' : 'Search for Crew'}}</h3>
        <span *ngIf="isCrew">This searches in your Connections and Staff</span>
        <form class="ui form" [formGroup]="inviteCmpCntForm">
          <div class="field required" *ngIf="isCrew==0">
            <label>Select Contact</label>
            <select class="ui dropdown selection" [style.padding]="'initial'" (change)="selectCnt($event)">
              <option *ngFor="let contact of cntSearchList" class="item" [value]="contact.userId"
                [disabled]="!contact.userId">{{contact.firstName}}
                {{contact.lastName}} {{contact.position && contact.position != '' ? '('+contact.position+')' : ''}}
              </option>
            </select>
          </div>
          <div class="field" *ngIf="isCrew==1">
            <div class="ui search searchPeople focus">
              <div class="ui fluid icon input">
                <input [(ngModel)]="searchKeyWord" (ngModelChange)="searchForCompCnt()"
                  [ngModelOptions]="{standalone:true}" class="prompt" type="text" placeholder="Search"
                  autocomplete="off">
                <i class="search icon"></i>
              </div>
              <div [ngClass]="cntSearchList.length>0?'results transition visible':'results transition hidden'"
                [style.display]="listDisplayCss" [style.overflowY]="listDisplayOverFlow" [style.maxHeight]="'1290%'">
                <a class="result" *ngFor="let contact of cntSearchList" (click)="selectCrewCnt(contact)">
                  <div class="image">
                    <img alt="user profile pic" [src]="contact.profileImage" appImageFallback
                      fallbackImage="assets/img/profile.jpg" />
                  </div>
                  <div class="content">
                    <div class="title">{{contact.firstName + ' ' + contact.lastName}}</div>
                    <div class="description">{{contact.headline}}</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="field required" *ngIf="isCrew==0">
            <label>Select Contact Label</label>
            <select class="ui dropdown selection" [style.padding]="'initial'" [(ngModel)]="contactLabelId"
              [ngModelOptions]="{standalone:true}">
              <option class="item" [value]="5">Primary Contact</option>
              <option class="item" [value]="6">Secondary Contact</option>
              <option class="item" [value]="7">Technical Director</option>
              <option class="item" [value]="8">Technical Contact</option>
              <option class="item" [value]="9">Onsite Contact</option>
              <option class="item" [value]="10">IT Contact</option>
              <option class="item" [value]="11">Access Contact</option>
              <option class="item" [value]="12">Legal Contact</option>
              <option class="item" [value]="13">Finance Contact</option>
            </select>
          </div>
          <div class="field" *ngIf="isCrew==1">
            <div class="ui fluid icon input">
              <input class="prompt" type="text" [(ngModel)]="contactRole" [ngModelOptions]="{standalone:true}"
                placeholder="Add Role">
            </div>
          </div>
          <div class="ui grid">
            <div class="sixteen wide column right aligned">
              <div class="ui button addTotheList" (click)="addCmpCntToList()">{{isCrew == 0 ? 'Add to the contact list'
                : 'Add Selected As Crew'}}</div>
            </div>
            <div class="sixteen wide column">
              <p>If you cannot find the contact you are searching for they probably do not have a profile in
                Konnect. You can create an address book card with details you can use in the event now, and invite
                them to create a
                profile by filling
                out the details below.</p>
            </div>
            <div class="sixteen wide column">
              <h3>Add New {{isCrew ? 'Crew': 'Contact'}} Details</h3>

              <div class="two fields">
                <div class="field required">
                  <label>Name</label>
                  <input type="text" placeholder="Name" formControlName="firstName">
                  <span *ngIf="inviteCmpCntForm!.get('firstName')?.touched
          && inviteCmpCntForm!.get('firstName')?.errors?.required" class="text-danger">Name is Required</span>
                </div>
                <div class="field">
                  <label>Mobile</label>
                  <input type="text" placeholder="Mobile" formControlName="mobile">
                  <span *ngIf="inviteCmpCntForm!.get('mobile')?.touched
          && inviteCmpCntForm!.get('mobile')?.errors?.required" class="text-danger">Mobile number is Required</span>
          <p> <small> Mobile cannot be added later </small> </p>
                </div>
                <!-- <div class="field required">
                </div> -->
                <div class="field required">
                  <label>Email</label>
                  <input type="email" placeholder="Email" formControlName="email">
                  <span *ngIf="inviteCmpCntForm!.get('email')?.touched && (
                  inviteCmpCntForm!.get('email')?.errors?.required ||
                  inviteCmpCntForm!.get('email')?.errors?.pattern)" class="text-danger">A valid email is
                    required</span>
                </div>
              </div>
              <div class="field" *ngIf="isCrew==1">
                <div class="ui fluid icon input">
                  <input class="prompt" type="text" [(ngModel)]="contactRoleInvite" [ngModelOptions]="{standalone:true}"
                    placeholder="Add Role">
                </div>
              </div>
              <div class="ui grid">
                <div class="sixteen wide column right aligned">
                  <span class="smallText">*compulsory fields</span>
                </div>
                <div class="sixteen wide column center aligned paddingT0 right aligned">
                  <div class="ui button addTotheList" (click)="validateFields() && addCmpCntToList(true)">{{isCrew == 0
                    ? 'Add to the contact list' : 'Add As Crew'}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>
      <div class="five wide column">
        <h3>{{isCrew == 0 ? 'Contact list' : 'Crew list'}}</h3>
        <div class="contactListContainer" [ngStyle]="{'display':contactList.length>0?'block':'none'}">
          <div class="ui grid contactList">
            <ng-container *ngFor="let contact of contactList; let i=index">
              <div class="thirteen wide column paddingB0">
                <div class="ui circular compact mini basic button fluid">
                  <i class="user icon"></i>{{contact.firstName + ' - ' + (contactLabels.get(contact.contactLabelId) ||
                  '')}}
                </div>
              </div>
              <div class="three wide column right aligned paddingB0">
                <div (click)="removeContactFromList(i)"
                  class="ui circular compact mini basic icon button removeFromTheList">
                  <i class="trash icon"></i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="newFooter">
  <div class="actions">
    <div class="ui grid">
      <div class="sixteen wide column right aligned">
        <div class="ui button positive" [ngClass]="{'disabled':contactList.length===0}"
          (click)="emitContactListAndClose()">Finish
          <!-- and save -->
        </div>
      </div>
    </div>
  </div>
</div>