<div class="mainContent">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column maxWidth">
                <div class="ui grid">
                    <div class="sixteen wide column left aligned">
                        <h2>Platform Search</h2>
                    </div>
                </div>
                <div class="ui segment">
                    <form class="ui form">
                        <div class="ui grid">
                            <div class="sixteen wide column left aligned">
                                <h3 class="ui dividing header">Region</h3>
                                <div class="ui four column grid regionOptions">
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="apac" type="checkbox" class="hidden" tabindex="0">
                                                <label for="apac" >APAC</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="asia" type="checkbox" class="hidden" tabindex="0">
                                                <label for="asia">Asia</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="europe" type="checkbox" class="hidden" tabindex="0">
                                                <label for="europe">Europe</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="mena" type="checkbox" class="hidden" tabindex="0">
                                                <label for="mena" >MENA</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="northAmerica" type="checkbox" class="hidden" tabindex="0">
                                                <label for="northAmerica" >North America</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="centralAmerica" type="checkbox" class="hidden" tabindex="0">
                                                <label for="centralAmerica" >Central America &amp; Caribbean</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="southAmerica" type="checkbox" class="hidden" tabindex="0">
                                                <label for="southAmerica" >South America</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="subSaharanAfrica" type="checkbox" class="hidden" tabindex="0">
                                                <label for="subSaharanAfrica" >Sub-Saharan Africa</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input id="global" type="checkbox" class="hidden" tabindex="0">
                                                <label for="global" >Global</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui search searchCompanyAndPeople marginT30">
                                    <div class="ui fluid icon input">
                                        <input class="prompt" type="text" placeholder="Search" autocomplete="off">
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>