<div class="field">
  <div class="timeWindowsContainer">
    <div class="ui dividing header">
      <h3>Venue Time Windows <i
        class="globe icon"></i></h3>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="static-3">

      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <i class="dropdown icon"></i> Pre Event Access
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="item">
            <div class="ui three column grid">
              <div class="column">
                <span>Date</span>
                <div class="ui calendar datePicker">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table seven column day">
                        <thead>
                        <tr>
                          <th colspan="7"><span class="link">April 2021</span><span
                            class="prev link"><i class="chevron left icon"></i></span><span
                            class="next link"><i class="chevron right icon"></i></span></th>
                        </tr>
                        <tr>
                          <th>S</th>
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="link adjacent disabled">28</td>
                          <td class="link adjacent disabled">29</td>
                          <td class="link adjacent disabled">30</td>
                          <td class="link adjacent disabled">31</td>
                          <td class="link">1</td>
                          <td class="link">2</td>
                          <td class="link">3</td>
                        </tr>
                        <tr>
                          <td class="link">4</td>
                          <td class="link">5</td>
                          <td class="link">6</td>
                          <td class="link">7</td>
                          <td class="link today focus">8</td>
                          <td class="link">9</td>
                          <td class="link">10</td>
                        </tr>
                        <tr>
                          <td class="link">11</td>
                          <td class="link">12</td>
                          <td class="link">13</td>
                          <td class="link">14</td>
                          <td class="link">15</td>
                          <td class="link">16</td>
                          <td class="link">17</td>
                        </tr>
                        <tr>
                          <td class="link">18</td>
                          <td class="link">19</td>
                          <td class="link">20</td>
                          <td class="link">21</td>
                          <td class="link">22</td>
                          <td class="link">23</td>
                          <td class="link">24</td>
                        </tr>
                        <tr>
                          <td class="link">25</td>
                          <td class="link">26</td>
                          <td class="link">27</td>
                          <td class="link">28</td>
                          <td class="link">29</td>
                          <td class="link">30</td>
                          <td class="link adjacent disabled">1</td>
                        </tr>
                        <tr>
                          <td class="link adjacent disabled">2</td>
                          <td class="link adjacent disabled">3</td>
                          <td class="link adjacent disabled">4</td>
                          <td class="link adjacent disabled">5</td>
                          <td class="link adjacent disabled">6</td>
                          <td class="link adjacent disabled">7</td>
                          <td class="link adjacent disabled">8</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>Start</span>
                <div class="ui calendar startTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="Start">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>End</span>
                <div class="ui calendar endTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="End">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="sixteen wide column">
                <span>Notes</span>
                <div class="textarea notes" contenteditable=""></div>
                <div class="ui circular compact mini basic button">
                  <i class="plus circle icon"></i>Add Pre Event Access date
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4">
        <ng-template ngbPanelTitle>
          <span><i class="dropdown icon"></i> Event Time</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="item">
            <div class="ui three column grid">
              <div class="column">
                <span>Date</span>
                <div class="ui calendar datePicker">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table seven column day">
                        <thead>
                        <tr>
                          <th colspan="7"><span class="link">April 2021</span><span
                            class="prev link"><i class="chevron left icon"></i></span><span
                            class="next link"><i class="chevron right icon"></i></span></th>
                        </tr>
                        <tr>
                          <th>S</th>
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="link adjacent disabled">28</td>
                          <td class="link adjacent disabled">29</td>
                          <td class="link adjacent disabled">30</td>
                          <td class="link adjacent disabled">31</td>
                          <td class="link">1</td>
                          <td class="link">2</td>
                          <td class="link">3</td>
                        </tr>
                        <tr>
                          <td class="link">4</td>
                          <td class="link">5</td>
                          <td class="link">6</td>
                          <td class="link">7</td>
                          <td class="link today focus">8</td>
                          <td class="link">9</td>
                          <td class="link">10</td>
                        </tr>
                        <tr>
                          <td class="link">11</td>
                          <td class="link">12</td>
                          <td class="link">13</td>
                          <td class="link">14</td>
                          <td class="link">15</td>
                          <td class="link">16</td>
                          <td class="link">17</td>
                        </tr>
                        <tr>
                          <td class="link">18</td>
                          <td class="link">19</td>
                          <td class="link">20</td>
                          <td class="link">21</td>
                          <td class="link">22</td>
                          <td class="link">23</td>
                          <td class="link">24</td>
                        </tr>
                        <tr>
                          <td class="link">25</td>
                          <td class="link">26</td>
                          <td class="link">27</td>
                          <td class="link">28</td>
                          <td class="link">29</td>
                          <td class="link">30</td>
                          <td class="link adjacent disabled">1</td>
                        </tr>
                        <tr>
                          <td class="link adjacent disabled">2</td>
                          <td class="link adjacent disabled">3</td>
                          <td class="link adjacent disabled">4</td>
                          <td class="link adjacent disabled">5</td>
                          <td class="link adjacent disabled">6</td>
                          <td class="link adjacent disabled">7</td>
                          <td class="link adjacent disabled">8</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>Start</span>
                <div class="ui calendar startTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="Start">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>End</span>
                <div class="ui calendar endTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="End">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="sixteen wide column">
                <span>Notes</span>
                <div class="textarea notes" contenteditable=""></div>
                <div class="ui circular compact mini basic button">
                  <i class="plus circle icon"></i>Add Event Time date
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-5">
        <ng-template ngbPanelTitle>
          <span><i class="dropdown icon"></i> Post Event Access</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="item">
            <div class="ui three column grid">
              <div class="column">
                <span>Date</span>
                <div class="ui calendar datePicker">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table seven column day">
                        <thead>
                        <tr>
                          <th colspan="7"><span class="link">April 2021</span><span
                            class="prev link"><i class="chevron left icon"></i></span><span
                            class="next link"><i class="chevron right icon"></i></span></th>
                        </tr>
                        <tr>
                          <th>S</th>
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="link adjacent disabled">28</td>
                          <td class="link adjacent disabled">29</td>
                          <td class="link adjacent disabled">30</td>
                          <td class="link adjacent disabled">31</td>
                          <td class="link">1</td>
                          <td class="link">2</td>
                          <td class="link">3</td>
                        </tr>
                        <tr>
                          <td class="link">4</td>
                          <td class="link">5</td>
                          <td class="link">6</td>
                          <td class="link">7</td>
                          <td class="link today focus">8</td>
                          <td class="link">9</td>
                          <td class="link">10</td>
                        </tr>
                        <tr>
                          <td class="link">11</td>
                          <td class="link">12</td>
                          <td class="link">13</td>
                          <td class="link">14</td>
                          <td class="link">15</td>
                          <td class="link">16</td>
                          <td class="link">17</td>
                        </tr>
                        <tr>
                          <td class="link">18</td>
                          <td class="link">19</td>
                          <td class="link">20</td>
                          <td class="link">21</td>
                          <td class="link">22</td>
                          <td class="link">23</td>
                          <td class="link">24</td>
                        </tr>
                        <tr>
                          <td class="link">25</td>
                          <td class="link">26</td>
                          <td class="link">27</td>
                          <td class="link">28</td>
                          <td class="link">29</td>
                          <td class="link">30</td>
                          <td class="link adjacent disabled">1</td>
                        </tr>
                        <tr>
                          <td class="link adjacent disabled">2</td>
                          <td class="link adjacent disabled">3</td>
                          <td class="link adjacent disabled">4</td>
                          <td class="link adjacent disabled">5</td>
                          <td class="link adjacent disabled">6</td>
                          <td class="link adjacent disabled">7</td>
                          <td class="link adjacent disabled">8</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>Start</span>
                <div class="ui calendar startTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="Start">
                  </div>
                </div>
              </div>
              <div class="column">
                <span>End</span>
                <div class="ui calendar endTime">
                  <div class="ui input left icon">
                    <div class="ui popup calendar">
                      <table class="ui celled center aligned unstackable table four column hour">
                        <tbody>
                        <tr>
                          <td class="link">12:00 AM</td>
                          <td class="link">1:00 AM</td>
                          <td class="link">2:00 AM</td>
                          <td class="link">3:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 AM</td>
                          <td class="link">5:00 AM</td>
                          <td class="link">6:00 AM</td>
                          <td class="link">7:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 AM</td>
                          <td class="link">9:00 AM</td>
                          <td class="link">10:00 AM</td>
                          <td class="link">11:00 AM</td>
                        </tr>
                        <tr>
                          <td class="link focus">12:00 PM</td>
                          <td class="link">1:00 PM</td>
                          <td class="link">2:00 PM</td>
                          <td class="link">3:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">4:00 PM</td>
                          <td class="link">5:00 PM</td>
                          <td class="link">6:00 PM</td>
                          <td class="link">7:00 PM</td>
                        </tr>
                        <tr>
                          <td class="link">8:00 PM</td>
                          <td class="link">9:00 PM</td>
                          <td class="link">10:00 PM</td>
                          <td class="link">11:00 PM</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <i class="time icon"></i>
                    <input type="text" placeholder="End">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="sixteen wide column">
                <span>Notes</span>
                <div class="textarea notes" contenteditable=""></div>
                <div class="ui circular compact mini basic button">
                  <i class="plus circle icon"></i>Add Post Event Access date
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>

  </div>
</div>
