<ng-container>

  <ngb-accordion [destroyOnHide]="false">

    <ngb-panel id="static-3">
      <ng-template ngbPanelTitle>
        <div class="disabledAccordionContainer">
          <div class="popupNotes"><i class="edit icon"></i>

            <div class="tooltipOuter">
              <p>{{preEventNotes}}</p>
            </div>

          </div>
          <div class="">
            <div class="ui grid stackable">
              <div class="sixteen wide column">
                <span class="titleMinWidth"><i class="dropdown icon"></i> {{windowLabels && windowLabels[0]}}</span>

                <span class="dateStartEndContainer" *ngFor="let dateTimes of preEventTimes; let timeIndex = index;">
                  {{dateTimes.startDateTime | date:'dd/MM/yyyy'}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dateTimes.startDateTime | date:'h:mm a'}} -
                  {{dateTimes.endDateTime | date:'h:mm a'}}</span>

              </div>
            </div>

          </div>
        </div>


      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="isVenueDependent && checkTimeWindowFor(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'preEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_pre'"
              class="hidden" (change)="listenVenueEventTimeChange($event, eventTimeSlotTypes.PRE_EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'preEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_pre'">Same as venue</label>
          </div>
        </div>
        <div *ngIf="isVenueDependent && checkTimeWindowForExhibition(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'preEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_pre'"
              class="hidden" (change)="listenExhibitionEventTimeChange($event, eventTimeSlotTypes.PRE_EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'preEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_pre'">Same as
              exhibition</label>
          </div>
        </div>
        <div class="item">
          <div class="ui two column grid posrel"
            *ngFor="let preEventEventTimeCount of Arr(preEventTimesCount).fill(1); let i=index">
            <div class="column">
              <span>Start Date &amp; Time </span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #preEventStartDateTimes [freeze]="checkFreeze('pre')"
                    [eventDateTime]="preEventTimes[i]?.startDateTime || null"
                    [minimumDate]="getMinimumPreEventStartDateTime(i)" [index]="index"
                    (addNewDateTime)="pushPreEventStartDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)"></app-date-time-picker>
                </div>
              </div>
            </div>
            <div class="column pr-5">
              <span>End Date &amp; Time</span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #preEventEndDateTimes [freeze]="checkFreeze('pre')"
                    [eventDateTime]="preEventTimes[i]?.endDateTime || null"
                    [max]="getMax(preEventTimes[i]?.startDateTime)" [minimumDate]="getMinimumPreEventEndDateTime(i)"
                    [index]="index" (addNewDateTime)="pushPreEventEndDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)">
                  </app-date-time-picker>
                </div>
              </div>
              <a *ngIf="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)" class="ui button basic circular compact mini trashIconOuter" (click)="removePreTime(i)">
                <i class="m-0 trash alternate icon"></i> </a>
            </div>
          </div>
          <div class="ui grid">
            <div class="sixteen wide column">
              <span>Notes</span>
              <textarea class="textarea notes" [(ngModel)]="preEventNotes" ngDefaultControl rows="3"
                [ngModelOptions]="{standalone:true}" (ngModelChange)="populatePreEventNotes($event)"
                [readonly]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
                </textarea>
              <!-- <angular-editor [(ngModel)]="preEventNotes" [config]="config" (focus)="changeConfig()"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="populatePreEventNotes($event)"></angular-editor> -->
              <div *ngIf="!isPreEventTimesSameAsVenue && isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)" class="ui circular compact mini basic button"
                (click)="addMorePreEventDateTime()">
                <i class="plus circle icon"></i>Add {{windowLabels && windowLabels[0]}} date
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4">
      <ng-template ngbPanelTitle>

        <div class="disabledAccordionContainer">
          <div class="popupNotes"><i class="edit icon"></i>

            <div class="tooltipOuter">
              <p>{{eventNotes}}</p>
            </div>

          </div>

          <div class="">
            <div class="ui grid stackable">
              <div class="sixteen wide column">
                <span class="titleMinWidth"><i class="dropdown icon"></i> {{windowLabels && windowLabels[1]}}</span>

                <span class="dateStartEndContainer" *ngFor="let dateTimes of eventTimes; let timeIndex = index;">
                  {{dateTimes.startDateTime | date:'dd/MM/yyyy'}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dateTimes.startDateTime | date:'h:mm a'}} -
                  {{dateTimes.endDateTime | date:'h:mm a'}}</span>
              </div>
            </div>

          </div>
        </div>

      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="isVenueDependent && checkTimeWindowFor(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'eventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_actual'"
              class="hidden" (change)="listenVenueEventTimeChange($event, eventTimeSlotTypes.EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'eventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_actual'">Same as venue</label>
          </div>
        </div>
        <div *ngIf="isVenueDependent && checkTimeWindowForExhibition(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'eventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_actual'"
              class="hidden" (change)="listenExhibitionEventTimeChange($event, eventTimeSlotTypes.EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'eventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_actual'">Same as
              exhibition</label>
          </div>
        </div>
        <div class="item">
          <div class="ui two column grid posrel" *ngFor="let eventTmCount of Arr(eventTimesCount).fill(1); let i=index">
            <div class="column">
              <span>Start Date &amp; Time</span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #eventStartDateTimes [freeze]="checkFreeze('event')"
                    [eventDateTime]="eventTimes[i]?.startDateTime || null"
                    [minimumDate]="getMinimumEventStartDateTime(i)" [index]="index"
                    (addNewDateTime)="pushEventStartDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)">
                  </app-date-time-picker>
                </div>
              </div>
            </div>
            <div class="column pr-5">
              <span>End Date &amp; Time</span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #eventEndDateTimes [freeze]="checkFreeze('event')"
                    [max]="getMax(eventTimes[i]?.startDateTime)" [eventDateTime]="eventTimes[i]?.endDateTime || null"
                    [minimumDate]="getMinimumEventEndDateTime(i)" [index]="index"
                    (addNewDateTime)="pushEventEndDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)">
                  </app-date-time-picker>
                </div>
              </div>

              <a class="ui button basic circular compact mini trashIconOuter" (click)="removeEventTime(i)"> <i
                  class="m-0 trash alternate icon"></i> </a>
            </div>
          </div>
          <div class="ui grid">
            <div class="sixteen wide column">
              <span>Notes</span>
              <textarea class="textarea notes" [(ngModel)]="eventNotes" ngDefaultControl rows="3"
                [ngModelOptions]="{standalone:true}" (ngModelChange)="populateEventNotes($event)"
                [readonly]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2)) "></textarea>
              <!-- <angular-editor [(ngModel)]="eventNotes" [config]="config" (focus)="changeConfig()"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="populateEventNotes($event)"></angular-editor> -->
              <div *ngIf="!isEventTimesSameAsVenue && isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)" class="ui circular compact mini basic button"
                (click)="addMoreEventDateTime()">
                <i class="plus circle icon"></i>Add {{windowLabels && windowLabels[1]}} date
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-5">
      <ng-template ngbPanelTitle>
        <div class="disabledAccordionContainer">
          <div class="popupNotes"><i class="edit icon"></i>

            <div class="tooltipOuter">
              <p>{{postEventNotes}}</p>
            </div>

          </div>
          <div class="">
            <div class="ui grid stackable">
              <div class="sixteen wide column">
                <span class="titleMinWidth"><i class="dropdown icon"></i> {{windowLabels && windowLabels[2]}}</span>

                <span class="dateStartEndContainer"
                  *ngFor="let dateTimes of postEventTimes; let timeIndex = index;">{{dateTimes.startDateTime |
                  date:'dd/MM/yyyy'}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dateTimes.startDateTime | date:'h:mm a'}} -
                  {{dateTimes.endDateTime | date:'h:mm a'}}</span>
              </div>
            </div>

          </div>
        </div>

      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="isVenueDependent && checkTimeWindowFor(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'postEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_post'"
              class="hidden" (change)="listenVenueEventTimeChange($event, eventTimeSlotTypes.POST_EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'postEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_post'">Same as
              venue</label>
          </div>
        </div>
        <div *ngIf="isVenueDependent && checkTimeWindowForExhibition(timeWindowFor) && !useVenueTimes" class="field visible"
          style="display: block !important;">
          <div class="ui checkbox">
            <input type="checkbox" [id]="'postEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_post'"
              class="hidden" (change)="listenExhibitionEventTimeChange($event, eventTimeSlotTypes.POST_EVENT_ACCESS)"
              [disabled]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))">
            <label [for]="'postEventTime-sav-'+index+'_venue_'+venueIndex+'-'+timeWindowFor+'_post'">Same as
              exhibition</label>
          </div>
        </div>
        <div class="item">
          <div class="ui two column grid posrel"
            *ngFor="let preventEventTimeCount of Arr(postEventTimesCount).fill(1); let i=index">
            <div class="column">
              <span> Start Date &amp; Time</span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #postEventStartDateTimes [freeze]="checkFreeze('post')"
                    [eventDateTime]="postEventTimes[i]?.startDateTime || null"
                    [minimumDate]="getMinimumPostEventStartDateTime(i)" [index]="index" 
                    (addNewDateTime)="pushPostEventStartDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)"></app-date-time-picker>
                </div>
              </div>
            </div>
            <div class="column pr-5">
              <span>End Date &amp; Time</span>
              <div class="ui calendar datePicker">
                <div class="ui input left icon">
                  <div class="ui popup calendar">
                  </div>
                  <i class="calendar icon"></i>
                  <app-date-time-picker #postEventEndDateTimes [freeze]="checkFreeze('post')"
                    [eventDateTime]="postEventTimes[i]?.endDateTime || null"
                    [max]="getMax(postEventTimes[i]?.startDateTime)" [minimumDate]="getMinimumPostEventEndDateTime(i)"
                    [index]="index" (addNewDateTime)="pushPostEventEndDateTime($event,i)" [isEdit]="isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)">
                  </app-date-time-picker>
                </div>
              </div>
              <a class="ui button basic circular compact mini trashIconOuter" (click)="removePostTime(i)"> <i
                  class="m-0 trash alternate icon"></i> </a>
            </div>
          </div>
          <div class="ui grid">
            <div class="sixteen wide column">
              <span>Notes</span>
              <textarea class="textarea notes" [(ngModel)]="postEventNotes" ngDefaultControl rows="3"
                [ngModelOptions]="{standalone:true}" (ngModelChange)="populatePostEventNotes($event)"
                [readonly]="!isEdit || ((isViewBtnPermission == 0) ||  (isViewBtnPermission == 2))"></textarea>
              <!-- <angular-editor [(ngModel)]="postEventNotes" [config]="config" (focus)="changeConfig()"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="populatePostEventNotes($event)"></angular-editor> -->
              <div *ngIf="!isPostEventTimesSameAsVenue && isEdit && (isViewBtnPermission == 1 ||  isViewBtnPermission == 3)" class="ui circular compact mini basic button"
                (click)="addMorePostEventDateTime()">
                <i class="plus circle icon"></i>Add {{windowLabels && windowLabels[2]}} date
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</ng-container>