<div class="ui segment">
  <form class="ui form">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="companyContainer marginB20">
          <div class="ui dividing header">
            <h3>Notes to All Venues <i class="cog icon"></i><i class="sitemap icon"></i><i
                class="map marker alternate icon"></i></h3>
          </div>
          <div class="field"  *ngIf="eventToBeSaved.venues">
            <textarea  *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isVenue; else no_access" class="textarea" [(ngModel)]="eventToBeSaved.venues.notesToAll"
              [ngModelOptions]="{standalone:true}"></textarea>
              <ng-template #no_access>No access</ng-template>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="marginT10"></div>
      <div *ngIf="isVenueEdit" class="ui button compact addNewVenue addToPanel" (click)="addVenue()"><i class="plus circle icon"></i><span
          class="hideMobile">Add Venue</span>
      </div>
      <h3 id="venuesAnchor" class="ui dividing header">Venues</h3>
      <div class="ui styled fluid accordion parentAccordion parentAccordionVenue">


        <ngb-accordion [closeOthers]="true" (panelChange)="panelChange($event)" #ngbAccordion
          [activeIds]="'venueListIndex-'+activeVenuePanel" [destroyOnHide]="false">


          <ngb-panel *ngFor="let panel of eventToBeSaved.venues?.list; let i=index" [id]="'venueListIndex-'+i"
            (shown)="panelActivated(i)">
            <ng-template ngbPanelTitle>
              <i class="dropdown icon"></i>Venue {{i + 1}}
              <div class="ui selection dropdown float-right" tabindex="0">
                <div class="text"><i class="ui icon circle yellow"></i>None
                  Allocated</div>
                <div class="menu" tabindex="-1"></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="content active">
                <form class="ui form visible" style="display: block !important;">
                  <div class="ui grid stackable">
                    <div class="seven wide column">
                      <div class="companyContainer marginB20">
                        <div class="ui dividing header">
                          <h3>Venue Company <i class="globe icon"></i></h3>
                        </div>

                        <div class="kcpCardContainer">
                          <div *ngIf="selectedCompanies && selectedCompanies[i]" class="ui one column grid">
                            <div class="column">
                              <div class="ui fluid card">
                                <div class="content">
                                  <img class="right floated mini ui image" [src]="selectedCompanies[i]!.companyProfileImage"
                                    appImageFallback fallbackImage="assets/img/default_konnect_img.png">
                                  <div class="header">
                                    <a>{{selectedCompanies[i]!.companyName}}</a>
                                  </div>
                                  <div class="meta">
                                    <!-- <a *ngIf="getCompanyWebsite(i)" [href]="getCompanyWebsite(i)"
                                       target="_blank"> {{getCompanyWebsite(i)}}</a>
                                    <span *ngIf="getCompanyWebsite(i)">|</span> -->
                                    <a>
                                      <i class="map marker alternate icon"></i>{{selectedCompanies[i]!.city}}</a>
                                    <span>|</span>
                                    <i class="phone icon"></i>{{selectedCompanies[i]!.phone || ''}}
                                  </div>
                                </div>
                                <div class="extra content" [ngClass]="{'editableObject':false}">
                                  <div class="ui grid">
                                    <div class="ten wide column">

                                    </div>
                                    <div class="six wide column right aligned" *ngIf="isVenueEdit">
                                      <div (click)="removeSelectedCompany.emit(i)"
                                        class="ui circular compact mini basic button confirmRemove hasModal"
                                        data-modal="removeModal"><i class="trash alternate icon"></i>Remove
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <app-event-assign-function-cmp #venueAssignCmp [contactList]="panel.contacts"  [permissionObj]="permissionObj"
                      [isViewPermisssion]="1"
                        [clientCmpBtnLabel]="'Add Venue'" [contactListLabel]="'Venue Contacts'"
                        [clientCompanyModal]="searchInviteCmpModal" [contactModal]="searchInviteFnCmpCntModal"
                        (modalOpen)="setOpenedModalRef($event)" (contactRemove)="removeVenueContact(i,$event)" [isVenueEditable]="isVenueEditable">
                      </app-event-assign-function-cmp>
                    </div>
                    <div class="nine wide column">
                      <div class="field">
                        <div class="timeWindowsContainer">
                          <div class="ui dividing header">
                            <h3>Venue Time Windows <i class="globe icon"></i></h3>
                          </div>
                          <app-time-windows
                          [windowLabels]="['Pre Event Access', 'Event Time', 'Post Event Access']"
                          [index]="i"
                          [preEventTimes]="panel.preEventAccessDateTimes"
                          [postEventTimes]="panel.postEventAccessDateTimes"
                          [eventTimes]="panel.eventAccessDateTimes"
                          [preEventTimesCount]="panel?.preEventAccessDateTimes?.length || 1"
                          [eventTimesCount]="panel?.eventAccessDateTimes?.length || 1"
                          [postEventTimesCount]="panel?.postEventAccessDateTimes?.length || 1"
                          [eventView]="true"
                          [preEventNotes]="panel.preEventAccessDateTimes[i]?.notes"
                          [eventNotes]="panel.eventAccessDateTimes[i]?.notes"
                          [postEventNotes]="panel.postEventAccessDateTimes[i]?.notes">
                      </app-time-windows>
                        </div>
                      </div>
                      <div class="ui dividing header">
                        <h3>Venue Requirements <i class="cog icon"></i><i class="sitemap icon"></i><i
                            class="map marker alternate icon"></i>
                        </h3>
                      </div>
                      <div class="field">
                        <textarea  *ngIf="permissionObj.isClient || permissionObj.isEventManager || permissionObj.isVenue; else no_access" class="textarea" [(ngModel)]="panel.requirements"
                          [ngModelOptions]="{standalone:true}">
                        </textarea>
                        <ng-template #no_access>No access
                        </ng-template>
                      </div>

                    </div>
                    <div class="sixteen wide column saveButtons paddingT0">
                      <div class="ui divider"></div>
                      <div class="ui grid stackable">
                        <div class="sixteen wide column right aligned">
                          <div class="ui button basic blue icon downloadPDF halfWidth"><i class="file pdf icon"></i></div>
                          <div class="ui button triggerEditableOptions halfWidth ml-3" *ngIf="!isVenueEdit" (click)="editVenueFn()">
                            Edit
                          </div>
                          <div class="ui button hasModal ml-3"
                            (click)="saveAndInvite.emit({venueIndex: activeVenuePanel, shouldInvite:true})"
                            data-modal="inviteModal" *ngIf="isVenueEdit">Save &amp;
                            Invite
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-panel>


        </ngb-accordion>


      </div>
    </div>
  </div>
</div>