<form class="ui form" [formGroup]="personalDetailsForm" novalidate>
  <div class="ui grid stackable">
    <div class="row">
      <div class="eight wide column text-center">
        <div class="uploadImage">
          <i *ngIf="!selectedImageSrc" class="upload icon"></i>
          <img *ngIf="selectedImageSrc" [src]="selectedImageSrc | safeUrlPipe"
               alt="profile-image" class="uploadImage"/>
        </div>
        <div class="ui button basic small compact blue" appFileUploadTrigger
             [fileUploadComponentRef]="fileUploadComponent"
        >Choose profile image
        </div>
        <app-file-upload #fileUploadComponent
                         [config]="profileImageConfig"
                         (fileChange)="setSelectedImage($event)"
        ></app-file-upload>
      </div>
    </div>
    <div class="eight wide column left aligned">
      <div class="field required">
        <label for="create-profile-first-name">First Name</label>
        <input id="create-profile-first-name"
               type="text"
               placeholder="First Name"
               formControlName="firstName"
               required>
        <span
          *ngIf="personalDetailsForm!.get('firstName')?.touched
          && personalDetailsForm!.get('firstName')?.errors?.required"
          class="text-danger"
        >First Name is Required</span>
      </div>
    </div>
    <div class="eight wide column left aligned">
      <div class="field">
        <label for="create-profile-last-name">Last Name</label>
        <input id="create-profile-last-name"
               type="text"
               placeholder="Last Name"
               formControlName="lastName">
      </div>
    </div>
    <div class="sixteen wide column left aligned">
      <div class="ui grid">
        <div class="six wide column">
          <div class="field required">
            <label for="create-profile-email">Email Address</label>
          </div>
        </div>
        <div class="ten wide column right aligned">
          <span class="smallText">This becomes your username</span>
        </div>
      </div>
      <div class="field">
        <input id="create-profile-email"
               type="email"
               placeholder="Email Address"
               formControlName="email"
               required>
        <span
          *ngIf="personalDetailsForm!.get('email')?.touched
          && (
          personalDetailsForm!.get('email')?.errors?.required ||
          personalDetailsForm!.get('email')?.errors?.email
          )"
          class="text-danger"
        >A valid email is required</span>
      </div>
    </div>
    <div class="sixteen wide column left aligned">
      <div class="field required">
        <label for="create-profile-password">Password</label>
        <input id="create-profile-password" type="password" placeholder="Password" formControlName="password">
        <span
          *ngIf="personalDetailsForm!.get('password')?.touched
          && (
          personalDetailsForm!.get('password')?.errors?.required ||
          personalDetailsForm!.get('password')?.hasError('maxlength') ||
          personalDetailsForm!.get('password')?.hasError('minlength')
          )"
          class="text-danger"
        >Password length must be 6 to 12 characters, password is required</span>
      </div>
    </div>
    <div class="sixteen wide column left aligned">
      <div class="field required">
        <label>Time Zone</label>
        <select class="ui fluid dropdown"
                formControlName="timeZone">
          <option *ngFor="let timeZone of timeZones" [ngValue]="timeZone" [disabled]="!timeZone.val">
            {{ timeZone.name }}
          </option>
        </select>
        <span
          *ngIf="personalDetailsForm!.get('timeZone')?.touched
          && (
          personalDetailsForm!.get('timeZone')?.hasError('required')
          )"
          class="text-danger"
        >Time-zone is required</span>
      </div>
    </div>
    <div class="sixteen wide column left aligned">
      <div class="field">
        <label>Mobile</label>
        <input type="text" placeholder="+611234567890" formControlName="mobileNumber">
        <span
          *ngIf="personalDetailsForm!.get('mobileNumber')?.dirty
          && (
          personalDetailsForm!.get('mobileNumber')?.hasError('pattern')
          )"
          class="text-danger"
        >Please provide mobile number in format: +[country-code][mobile-number]</span>
      </div>
    </div>
    <div class="eight wide column left aligned">
      <div class="field required">
        <label>City</label>
        <input type="text" placeholder="City" formControlName="city">
        <span
          *ngIf="personalDetailsForm!.get('city')?.touched
          && (
          personalDetailsForm!.get('city')?.hasError('required')
          )"
          class="text-danger"
        >City is required</span>
      </div>
    </div>
    <div class="eight wide column left aligned">
      <div class="field required">
        <label for="select-profile-country">Country</label>
        <select id="select-profile-country"
                class="ui fluid dropdown selection"
                formControlName="countryId" required>
          <option *ngFor="let cntr of countries$ | async" [ngValue]="cntr.val" [disabled]="!cntr.val">
            {{ cntr.name }}
          </option>
        </select>
        <span
          *ngIf="personalDetailsForm!.get('countryId')?.touched
          && (
          personalDetailsForm!.get('countryId')?.hasError('required')
          )"
          class="text-danger"
        >Country is required</span>
        <p class="textRight marginT10 smallText">*compulsory fields</p>
      </div>
    </div>
    <div class="sixteen wide column paddingT0">
      <div class="ui divider"></div>
    </div>
    <div class="sixteen wide column right aligned saveButtons paddingT0">
      <div class="ui button"
           (click)="checkValidation() && moveToCompanyDetailsTab.emit(personalDetailsForm.value)">
        Next
      </div>
    </div>
  </div>
</form>
