<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column maxWidth">
      <div class="ui grid stackable">
        <div class="ten wide column left aligned">
          <h2>Manage Colleagues</h2>
        </div>
        <div class="six wide column right aligned hideMobile">
          <button class="ui button compact hasModal" (click)="openInviteColleagueModal($event)">Invite Colleagues
          </button>
        </div>
        <div class="sixteen wide column right aligned visibleMobile paddingT0">
          <button class="ui button compact fluid hasModal" (click)="openInviteColleagueModal($event)">Invite Colleagues
          </button>
        </div>
      </div>
      <div class="ui segment">
        <form class="ui form">
          <div class="ui grid stackable">
            <div class="sixteen wide column left aligned">
              <h3 class="ui dividing header">Administrators</h3>
              <div class="kipCardContainer">
                <div class="ui three column grid stackable">
                  <div *ngFor="let admin of companyColleaguesData!.admins;index as i; trackBy: trackAdminsFn"
                       class="column">
                    <div class="ui mini form">
                      <div class="field">
                        <input
                          [disabled]="!isUserAdmin"
                          [placeholder]="admin.position || 'Position'"
                          type="text"
                          [ngModelOptions]="{standalone:true}"
                          [(ngModel)]="colleaguePositionsModelMap.get(admin.userId)!.value">
                      </div>
                    </div>
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular"
                             [src]="admin.profileImage ||'../../assets/img/default_konnect_img.png'">
                        <div class="header" (click)="goToUserProfile(admin.userId, admin.isPrivate)">
                          <a target="_blank">{{admin.firstName + ' ' + admin.lastName}}</a>
                        </div>
                        <div class="meta">

                        </div>
                        <div class="description">
                          {{admin.email}}<br>
                          {{admin.mobile || ''}}
                        </div>
                      </div>
                      <div class="extra content" *ngIf="isUserAdmin && companyColleaguesData!.admins!.length>1 ">
                        <div class="ui grid">
                          <div class="ten wide column middle aligned">
                            <div class="field">
                              <div class="ui toggle checkbox checked">
                                <input type="checkbox" class="hidden" [id]="'admin-'+admin.userId"
                                       [checked]="admin.isCompanyAdmin"
                                       [tabindex]="i" (change)="toggleAdmin($event, admin.userId)">
                                <label [for]="'admin-'+admin.userId">Administrator</label>
                              </div>
                            </div>
                          </div>
                          <div class="six wide column right aligned">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sixteen wide column">
              <h3 class="ui dividing header">Company Colleagues</h3>
              <div class="kipCardContainer">
                <div class="ui three column grid stackable">
                  <div class="column" *ngFor="let colleague of companyColleaguesData.colleagues">
                    <div class="ui mini form">
                      <div class="field">
                        <input
                          [disabled]="!isUserAdmin"
                          [placeholder]="colleague.position || 'Position'"
                          type="text"
                          [ngModelOptions]="{standalone:true}"
                          [(ngModel)]="colleaguePositionsModelMap.get(colleague.userId)!.value">
                      </div>
                    </div>
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular"
                             [src]="colleague.profileImage || '../../assets/img/default_konnect_img.png'">
                        <div class="header" (click)="goToUserProfile(colleague.userId, colleague.isPrivate)">
                          <a>{{colleague.firstName + ' ' + colleague.lastName}}</a>
                        </div>
                        <div class="meta">
                        </div>
                        <div class="description">
                          {{colleague.email}}<br>
                          {{colleague.mobile}}
                        </div>
                      </div>
                      <div class="extra content" *ngIf="isUserAdmin">
                        <div class="ui grid">
                          <div class="ten wide column middle aligned">
                            <div class="field">
                              <div class="ui toggle checkbox">
                                <input type="checkbox" class="hidden" [id]="'colleagueToAdmin-'+colleague.userId"
                                       (change)="toggleAdmin($event, colleague.userId)">
                                <label [for]="'colleagueToAdmin-'+colleague.userId">Administrator</label>
                              </div>
                            </div>
                          </div>
                          <div class="six wide column right aligned">
                            <div (click)="openRemoveColleagueModal($event, colleague.userId)" class="ui circular compact mini basic icon button confirmRemove hasModal"
                                 data-modal="removeModal"><i class="trash icon"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="column">
                    <div class="ui mini form">
                      <div class="field">
                        <input placeholder="Position" type="text">
                      </div>
                    </div>
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                        <div class="header">
                          <a href="/VPP.html" target="_blank">Elliot Fu</a>
                        </div>
                        <div class="meta">

                        </div>
                        <div class="description">
                          mail@mail.com<br>
                          1234 5678
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="ui grid">
                          <div class="ten wide column middle aligned">
                            <div class="field">
                              <div class="ui toggle checkbox">
                                <input type="checkbox" id="admin-2" class="hidden" tabindex="0">
                                <label for="admin-2">Administrator</label>
                              </div>
                            </div>
                          </div>
                          <div class="six wide column right aligned">
                            <div class="ui circular compact mini basic icon button confirmRemove hasModal"
                                 data-modal="removeModal"><i class="trash icon"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui mini form">
                      <div class="field">
                        <input placeholder="Position" type="text">
                      </div>
                    </div>
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                        <div class="header">
                          <a href="/VPP.html" target="_blank">Elliot Fu</a>
                        </div>
                        <div class="meta">

                        </div>
                        <div class="description">
                          mail@mail.com<br>
                          1234 5678
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="ui grid">
                          <div class="ten wide column middle aligned">
                            <div class="field">
                              <div class="ui toggle checkbox">
                                <input type="checkbox" id="admin-3" class="hidden" tabindex="0">
                                <label for="admin-3">Administrator</label>
                              </div>
                            </div>
                          </div>
                          <div class="six wide column right aligned">
                            <div class="ui circular compact mini basic icon button confirmRemove hasModal"
                                 data-modal="removeModal"><i class="trash icon"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="sixteen wide column" *ngIf="isUserAdmin">
              <h3 class="ui dividing header">Join Requests Pending Approval</h3>
              <div class="kipCardContainer">
                <div class="ui three column grid stackable">
                  <div class="column" *ngFor="let request of companyColleaguesData.joinRequests">
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular"
                             [src]="request.profileImage || ' ../../assets/img/default_konnect_img.png'">
                        <div class="header" (click)="goToUserProfile(request.userId, request.isPrivate)">
                          <a>{{request.firstName + ' ' + request.lastName}}</a>
                        </div>
                        <div class="meta">
                        </div>
                        <div class="description">
                          {{request.email}}<br>
                          {{request.mobile}}
                        </div>
                      </div>
                      <div class="extra content" *ngIf="isUserAdmin">
                        <div class="ui two buttons">
                          <div class="ui basic green button compact" (click)="approveJoinRequest(request.userId)">
                            Approve
                          </div>
                          <div class="ui basic red button compact" (click)="declineJoinRequest(request.userId)">
                            Decline
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sixteen wide column">
              <h3 class="ui dividing header">Invites Pending Activation</h3>
              <div class="kipCardContainer">
                <div class="ui three column grid inactive stackable">
                  <div class="column" *ngFor="let pendingInvite of companyColleaguesData.invitesPending">
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular"
                             [src]="pendingInvite.profileImage || '../../assets/img/default_konnect_img.png'">
                        <div class="header">
                          <a>{{pendingInvite.firstName + ' ' + pendingInvite.lastName}}</a>
                        </div>
                        <div class="meta">
                        </div>
                        <div class="description">
                          {{pendingInvite.email}}<br>
                          {{pendingInvite.mobile}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="column">
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                        <div class="header">
                          <a href="/VPP.html" target="_blank">Elliot Fu</a>
                        </div>
                        <div class="meta">

                        </div>
                        <div class="description">
                          mail@mail.com<br>
                          1234 5678
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui fluid card">
                      <div class="content">
                        <img class="right floated mini ui image circular" src="../../assets/img/default_konnect_img.png">
                        <div class="header">
                          <a href="/VPP.html" target="_blank">Elliot Fu</a>
                        </div>
                        <div class="meta">

                        </div>
                        <div class="description">
                          mail@mail.com<br>
                          1234 5678
                        </div>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="sixteen wide column saveButtons paddingT0">
              <div class="ui divider"></div>
              <div class="ui grid">
                <div class="sixteen wide column right aligned" *ngIf="isUserAdmin">
                  <div class="ui button" (click)="saveColleaguePositions()">Save</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-invite-colleagues
    (confirm)="sendInviteToColleague($event)"
    (cancel)="cancelAndCloseColleagueInvite($event)"
    [companyId]="defaultCompany?.id"
    [companyName]="defaultCompany?.companyName"
    [inviterName]="usersFirstName"
    [inviteUID]="inviteUID"
  ></app-invite-colleagues>

  <app-remove-modal
    [toRemove]="removalType"
    (cancel)="cancelColleagueRemove()"
    (confirm)="confirmColleagueRemove()"
    [modalInfoContent]="'Are you sure you want to remove this colleague from this company'"
  ></app-remove-modal>

</div>
